
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Все изображения данного товара</h4>
            </div>
            <div class="modal-body">
                <div class="fotorama" data-nav="thumbs"></div>
                <div class="spinner"></div>
            </div>
            <div class="modal-footer">
                <span class="btn btn-grey btn-default pull-left" data-dismiss="modal">Закрыть</span>
                <span class="btn add-cart-produkt js-quick-buy pull-right" data-id="<%= productId %>">Купить</span>
            </div>
        </div>
    </div>
