<div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Сообщить о наличии</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <form role="form">
                            <div class="form-group">
                                <label for="telephone">Ваш телефон:</label>
                                <input type="text" name="telephone" class="form-control">
                            </div>
                            <p>Оставьте ваши контактные данные и с вами свяжутся, как только товар появится на нашем складе.</p>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer text-center">
                <span class="btn btn-blue btn-default js-product-waiting-submit">Отправить</span>
            </div>
        </div>
    </div>
</div>