<div>
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Сообщение</h4>
            </div>
            <div class="modal-body">
                <p><%= message %><p>
            </div>
            <div class="modal-footer text-center">
                <span data-dismiss="modal" class="btn btn-grey btn-default js-close">Закрыть</span>
            </div>
        </div>
    </div>
</div>