<div>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Отправить сообщение</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="forma col-sm-6">
                        <form role="form">
                            <div class="form-group">
                                <label for="name">Ваше имя:</label>
                                <input type="text" name="name" class="form-control">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="forma col-sm-6">
                        <form role="form">
                            <div class="form-group">
                                <label for="email">Ваш E-mail:</label>
                                <input type="text" name="email" class="form-control">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="forma col-sm-6">
                        <form role="form">
                            <div class="form-group">
                                <label for="telephone">Ваш телефон:</label>
                                <input type="text" name="telephone" class="form-control">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="forma col-sm-6">
                        <form role="form">
                            <div class="form-group">
                                <label for="telephone">Сообщение:</label>
                                <textarea name="message" class="form-control"></textarea>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="forma col-sm-6">
                        <p>Введите код с картинки</p>
                        <div class="check-img">
                            <img id="contactFormCaptha" alt="" src="index.php?route=product/product/captcha">
                            <input type="text" name="captcha" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <span data-dismiss="modal" class="btn btn-grey btn-default pull-left">Закрыть</span>
                <span class="btn btn-blue btn-default js-contact-form-submit">Отправить</span>
            </div>
        </div>
    </div>
</div>