<div>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-peach">
                <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Оставьте отзыв о нашем магазине</h4>
            </div>
            <div class="modal-body">
                <form action="http://build.loc/index.php?route=product/product/write" method="post">
                    <div class="row your-review">
                        <div class="left-form">
                            <p>Ваше имя</p>
                            <input type="text" name="name" class="form-control">
                            <div class="wrap-stars">
                                <span class="pull-left">Ваша оценка</span>
                                <span class="stars-group empty-blue pull-left" id="rating">
                                  <i class="star-empty" style="background-position: 0px 0px;"></i>
                                  <i class="star-empty" style="background-position: 0px 0px;"></i>
                                  <i class="star-empty" style="background-position: 0px 0px;"></i>
                                  <i class="star-empty" style="background-position: 0px 0px;"></i>
                                  <i class="star-empty" style="background-position: -20px 0px;"></i>
                                </span>
                                <input type="hidden" name="rating" value="4">
                            </div>
                            <p>Введите код с картинки</p>
                            <div class="check-img">
                                <img id="globalCommentCaptha" alt="" src="index.php?route=product/product/captcha">
                                <input type="text" name="captcha" class="form-control">
                            </div>
                        </div>
                        <div class="right-form">
                            <p>Ваш отзыв</p>
                            <textarea name="text" class="form-control"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <span data-dismiss="modal" class="btn btn-grey btn-default pull-left">Закрыть</span>
                <span class="btn btn-blue pull-right js-submit-comment">Добавить отзыв</span>
            </div>
        </div>
    </div>
</div>