<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header green-bg">
            <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
            <h4 class="modal-title">Ваш номер успешно сохранен!</h4>
        </div>
        <div class="modal-body">
            <h3>Мы обязательно перезвоним Вам, как только товар появится на нашем складе.</h3>
        </div>
        <div class="modal-footer">
            <span data-dismiss="modal" class="btn btn-blue btn-default">Закрыть</span>
        </div>
    </div>
</div>