<div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Наличие в магазинах</h4>
            </div>
            <div class="modal-body">
                <ul class="stock-list"></ul>
            </div>
            <div class="modal-footer">
                <span data-dismiss="modal" class="btn btn-grey btn-default pull-left">Закрыть</span>
            </div>
        </div>
    </div>
</div>