<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header green-bg">
            <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
            <h4 class="modal-title">Вы успешно подписались на рассылку!</h4>
        </div>
        <div class="modal-body">
            <h3>Теперь на ваш e-mail будут приходить письма с новостями и акциями от интернет-магазина «Квс-Центр»! </h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-xs-3">
                    <img class="img-responsive" src="/static/images/list.gif">
                </div>
                <div class="col-xs-7 col-xs-offset-1">
                    <p>Вы в любой момент можете отписаться от рассылки, поменяв настройки в личном кабинете пользователя.</p>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <span data-dismiss="modal" class="btn btn-blue btn-default">Закрыть</span>
        </div>
    </div>
</div>