/*
 * Category Menu Pro v1.1
 * for OpenCart 1.5.5 - 1.5.6
 *
 * Copyright 2013, iDiY
 * Support: idiy.webmaster@gmail.com
 *
 */
 
/* Box */
ul.box-category li.active > ul {
	display: block;
}

ul.box-category > li ul li > a:first-child:before {
	content: '- ';
	font-weight: normal;
}

ul.box-category .toggle-btn, ul.box-category .toggle-link, ul.box-category li.image {
	display: none;
}

/* Pop-Up Style */
ul.popup-category li ul {
	position: absolute;
	top: 0;
	left: 178px;
	z-index: 777;
	display: block;
	visibility: hidden;
	padding-left: 4px;
	width: 100%;
	background: rgba(255, 255, 255, 0);
	list-style: none;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

ul.popup-category li:hover > ul {
	visibility: visible;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

ul.popup-category li ul li {
	background-color: #EEE;
}

ul.popup-category li > ul > li.active {
	border-top: 1px solid #CCC;
	background-color: #DDD;
}

ul.popup-category a.toggle-btn,ul.popup-category a.toggle-link {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0;
	width: 24px;
	height: 30px;
	background: url('image/arrow.png') -24px 3px no-repeat;
}

ul.popup-category li:hover > a.toggle-btn,ul.popup-category li:hover > a.toggle-link {
	background: url('image/arrow.png') 0 3px no-repeat;
}

/* Pop-Up Column Right Style */
ul.popup-category.column_right > li ul {
	left: -182px;
	padding-right: 4px;
	padding-left: 0;
}

ul.popup-category.column_right li a {
	padding: 8px 10px 8px 24px;
}

ul.popup-category.column_right li a.toggle-btn,ul.popup-category.column_right li a.toggle-link {
	right: auto;
	left: 0;
	padding: 0;
	background: url('image/arrow.png') 0 -20px no-repeat;
}

ul.popup-category.column_right li:hover > a.toggle-btn,ul.popup-category.column_right li:hover > a.toggle-link {
	background: url('image/arrow.png') -24px -20px no-repeat;
}

/* Accordion and Collapsible Style */
ul.accordion-category,ul.collapsible-category,ul.popup-category {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.accordion-category li,ul.collapsible-category li,ul.popup-category li {
	position: relative;
	margin: 0;
	padding: 0;
}

ul.accordion-category > li + li,ul.collapsible-category > li + li, ul.popup-category > li + li {
	border-top: 1px solid #EEE;
}

ul.accordion-category li ul,ul.collapsible-category li ul {
	display: none;
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.accordion-category li > ul,ul.collapsible-category li > ul {
	border-top: 1px solid rgba(0, 0, 0, 0.075);
}

ul.accordion-category > li ul > li,ul.collapsible-category > li ul > li {
	background-color: rgba(0, 0, 0, 0.027);
}

ul.accordion-category > li ul > li + li,ul.collapsible-category > li ul > li + li,ul.popup-category > li ul li + li {
/*	border-top: 1px solid #FFF; */
}

ul.accordion-category li a,ul.collapsible-category li a,ul.popup-category li a {
	display: block;
	margin: 0;
	color: #5b5b5b;
	text-decoration: none;
	line-height: 14px;
}

ul.accordion-category li.active > a,ul.collapsible-category li.active > a,ul.popup-category li.active > a {
	font-weight: bold;
}

ul.accordion-category > li > a,ul.collapsible-category > li > a,ul.popup-category li a {
	padding: 8px 28px 8px 10px;
}

ul.accordion-category > li ul > li > a,ul.collapsible-category > li ul > li > a {
	padding: 8px 28px 8px 20px;
	background-color:#fff;
}

ul.accordion-category > li ul > li ul > li > a,ul.collapsible-category > li ul > li ul > li > a {
	padding: 8px 28px 8px 30px;
}

ul.accordion-category > li ul > li ul > li ul > li > a,ul.collapsible-category > li ul > li ul > li ul > li > a {
	padding: 8px 28px 8px 38px;
}

ul.accordion-category a.toggle-btn,ul.accordion-category a.toggle-link,ul.collapsible-category a.toggle-btn,ul.collapsible-category a.toggle-link {
	position: absolute;
	top: 12px;
	right: 8px;
	padding: 0;
	width: 8px;
	height: 8px;
}

ul.accordion-category > li > a.toggle-link,ul.collapsible-category > li > a.toggle-link {
	visibility: hidden;
	background: url('image/arrow.png') 3px -93px no-repeat;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

ul.accordion-category > li ul > li > a.toggle-link,ul.collapsible-category > li ul > li > a.toggle-link {
	visibility: hidden;
	background: url('image/arrow.png') -21px -93px no-repeat;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

ul.accordion-category a.toggle-btn,ul.collapsible-category a.toggle-btn {
	background: url('image/categoryArrows.png') -4px -17px;
	
	/* background: url('image/arrow.png') -21px -68px no-repeat; */
}

ul.accordion-category a.toggle-btn.open,ul.collapsible-category a.toggle-btn.open {
	background: url('image/categoryArrows.png') -4px -30px;
	width: 5px;
	height: 5px;
}

ul.accordion-category li:hover > a.toggle-link,ul.collapsible-category li:hover > a.toggle-link {
	visibility: visible;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	background-color:#E1E1E1;
}

ul.accordion-category > li:hover > a.toggle-btn,ul.collapsible-category > li:hover > a.toggle-btn {
	background: #E1E1E1 url('image/arrow.png') -21px -44px no-repeat;
}

ul.accordion-category > li:hover > a.toggle-btn.open,ul.collapsible-category > li:hover > a.toggle-btn.open {
	background: #E1E1E1 url('image/arrow.png') 3px -44px no-repeat;
}

ul.accordion-category > li > a.toggle-link:hover,ul.accordion-category > li > a.toggle-btn:hover,ul.collapsible-category > li > a.toggle-link:hover,ul.collapsible-category > li > a.toggle-btn:hover {
	background-color:#E1E1E1;
}

ul.accordion-category > li ul > li > a.toggle-link:hover,ul.accordion-category > li ul > li > a.toggle-btn:hover,ul.collapsible-category > li ul > li > a.toggle-link:hover,ul.collapsible-category > li ul > li > a.toggle-btn:hover {
	background-color: rgba(0, 0, 0, 0.02);
}

ul.accordion-category > li > a.toggle-btn.open:hover,ul.collapsible-category > li > a.toggle-btn.open:hover {
	background-color: #E1E1E1;
}

ul.accordion-category > li:hover > a,ul.collapsible-category > li:hover > a,ul.popup-category li:hover > a {
	background-color: #E1E1E1;
	color: #5b5b5b;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
}

ul.accordion-category > li:hover > a + a,ul.collapsible-category > li:hover > a + a {
	background-color: rgba(255, 255, 255, 0.1);
}

ul.accordion-category > li ul > li:hover > a,ul.collapsible-category > li ul > li:hover > a {
	background-color: #E1E1E1;
}

ul.accordion-category li.image a,ul.collapsible-category li.image a,ul.popup-category li.image a {
	padding: 4px;
	font-size: 0;
	line-height: 0;
	text-align: center;
}

ul.accordion-category li.image img,ul.collapsible-category li.image img,ul.popup-category li.image img {
	max-width: 100%;
}

ul.accordion-category li,ul.accordion-category li a,ul.collapsible-category li,ul.collapsible-category li a,ul.popup-category li,ul.popup-category li ul,ul.popup-category li a {
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
