body {
	margin: 0;
	font-family: 'Century Gothic, Verdana', Century Gothic, Verdana, Sans-Serif;
	background-color: #c4c7c6;
}
.page_wrapper_center {
	height: 625px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
img {
	border: 0;
}
textarea {
	overflow: hidden;
}
.home-content {
	background: #fff;
}
.main-content input[type="password"], .main-content input[type="text"] {
	color: #404040;
	padding: 0px;
	font-size: 16px;
	font-weight: 300;
	border: 1px solid #b1b1b1;
}
.main-content input[type="password"]:hover,  .main-content input[type="text"]:hover {
	border: 1px solid #b1b1b1;
	box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
	transition: all 0.1s linear;
}
.main-content input[type="password"]:focus,  .main-content input[type="text"]:focus {
	border: 1px solid #767676;
	box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
}
a {
	text-decoration: none;
	color: #050709;
	text-decoration: underline;
}
.header {
	/* height: 124px; */
	margin-bottom: 5px;
	display: inline-block;

}
.logo {
	margin: 10px 5px 0 10px;
	display: inline-block;
}
.head-nav {
	z-index: 15;
	display: inline-block;
}
.nav  {
	display: inline-block;
	vertical-align: top;
}
.head-nav ul {
	padding: 0;
	margin: 0;
	z-index: 9999;
}
.head-nav ul li {
	display: inline;
	cursor: pointer;
	font-size: 12px !important;
}
.head-nav ul li a {
	font-size: 12px !important;
	color: #ffffff;
	padding: 2px 16px 3px 22px;
	margin: 0 18px 0 18px;
	text-transform: uppercase;
	text-decoration: none;
}
.head-nav ul li a:hover {
	background-color: #9f9f9f;
	color: #f4f5f7;
}
.head-nav .activesnav {
	background-color: #9f9f9f;
	color: #f4f5f7;
}
.head-nav ul > li > ul {
	position: absolute;
	padding: 6px 0;
	visibility: collapse;
	background-color: #9f9f9f;
	width: 100%;
	left: 0;
	text-align: left;
	margin-top: 4px;
	transition-delay: .5s;

}
.head-nav ul > li > ul li {
	padding: 0;

}
.head-nav ul > li > ul li a {
	font-weight: bold;
}
.head-nav ul > li > ul li a:hover  {
/* 	text-decoration: underline; */
background: #888;
}
.head-nav ul > li:hover > ul {
	visibility: visible;
	/* transition-delay: .5s; */
}
.head-nav ul > li > ul > li > ul {
	position: absolute;
	visibility: collapse;
	background-color: #9f9f9f;
}
.head-nav ul > li > ul > li:hover > ul {
	visibility: visible;
}
.head-nav ul li ul li ul a {
	font-weight: normal;
}
.head-nav ul > li > ul > li > ul > li  {
	display: inline-block;
}
.search-head {
	padding: 0 5px 0 0;
	vertical-align: top;
	width: 170px;
	display: inline-block;
	position: relative;
}

.simplecheckout-cart td.quantity img  {
}
.simplecheckout-cart td.quantity input[type="text"]  {
	border: none;
}
.simplecheckout-cart td.quantity input[type="text"]:hover  {
	border: none;
	box-shadow: none;
}
.simplecheckout-right-column  {
	display: block;
}
.button-search {
	display: inline-block;
	height: 23px;
	cursor: pointer;
	font-size: 12px;
	line-height: 22px;
	padding: 0 6px 0 5px;
	font-weight: bold;
	color: #ffffff;
	text-transform: uppercase;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c4c7c6', endColorstr='#939393'); /* для IE6-9 */
	background: -moz-linear-gradient(top, #c4c7c6, #939393); /* Firefox 3.6+ */
	/* Chrome 1-9, Safari 4-5 */
	background: -webkit-gradient(linear, left top, left bottom,  color-stop(0%, #c4c7c6), color-stop(100%, #939393));
	/* Chrome 10+, Safari 5.1+ */
	background: -webkit-linear-gradient(top, #c4c7c6, #939393);
	background: -o-linear-gradient(top, #c4c7c6, #939393); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #c4c7c6, #939393); /* IE10 */
	background: linear-gradient(top, #c4c7c6, #939393); /* CSS3 */
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0x;
	border-radius: 0 5px 5px 0;
	z-index:15;
}
.search-head input {
	background: #FFF;
	padding: 1px 1px 1px 5px;
	width: 130px;
	height: 20px;
	border: 0;
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
	vertical-align: bottom;
}
.content-wrapper {
	background-color: #ff00ff;
	display: table;
}
.left {
	width: 215px;
	padding: 10px;
	display: table-cell;
	vertical-align: top;
	background-color: #f0f0f0;
	font-size: 16px;
	color: #5b5b5b;
}
.name a  {
	color: #797979;
	text-decoration: none;
}
.product {
	width: 215px;
	padding: 10px;
	display: table-cell;
	vertical-align: top;
	text-align: center;
	background-color: #ffffff;
	font-size: 16px;
	color: #5b5b5b;
}
.product .cart,  .product .price {
	display: none;
}
.left-wrapper {
	width: 215px;
	margin: 0 auto;
	height: 429px;
	overflow: auto;
}
.left-wrapper ul {
	padding: 0;
	margin: 0;
	padding-right: 15px;
}
.left-wrapper ul ul {
	padding: 0;
	margin: 0 0 0 25px;
}
.left-wrapper ul li {
	list-style-type: none;
}
.left-wrapper ul li a {
	font-size: 16px;
	color: #5b5b5b;
	text-decoration: none;
}
.left-wrapper ul li li a {
	font-size: 12px;
}
.left-wrapper ul li li {
	/* display: none; */
}
.left-wrapper ul .active-expand li {
	display: block;
}
.main-content {
	display: table-cell;
	width: 1920px;
	height: 450px;
	padding: 10px 15px;
	font-size: 14px;
	color: #5b5b5b;
	vertical-align: top;
	background-color: #ffffff;
}
.main-content.fw  {
	width: 1920px;
}
.main-content-wrapper {
	height: 400px; 
	overflow: auto;
}
.info-wrapper {
	width: 890px;
	height: 350px;
}
.info-wrapper-news {
    height: 410px;
    overflow: auto;
    position: relative;
}
.info-wrapper .news-box {
	margin-right: 15px;
}
.news-box {
	display: table;
}
.news-box.shop {
	display: block;
}
.news-box-title {
	font-size: 24px;
	color: #515151;
	/* line-height: 62px; */
}
.line-news-column {
	width: 450px;
	display: table-cell;
}
.line-news {
	padding-bottom: 45px;
	height: 150px;
	margin-right: 25px;
}
.info-news {
	padding-bottom: 5px;
	height: 150px;
	margin-right: 15px;
	padding-top:10px;
}
.line-news-prev {
	position: relative;
	float: left;
	margin-right: 15px;
	display: block;
}
.line-news-title {
	position: relative;
	font-weight: bold;
	font-size: 14px;
	color: #5b5b5b;
	display: block;
}
.line-news-title a  {
	color: #5b5b5b;
	text-decoration: none;
}
.line-news-description {
	display: block;
	margin-top: 15px;
	font-size: 12px;
	color: #5b5b5b;
}
.line-news-href {
	position: relative;
	width: 0;
	top: 130px;
	float: left;
	display: inline;
}
.line-news-href a {
	font-size: 12px;
	color: #3F0000;
}
.news-box {
}
.bread-crumbs {
	/* position: fixed; */
}
.bread-crumbs a {
	color: #5b5b5b;
	font-size: 12px;
	text-decoration: none;
}

.attribute_box {
    display: none;
}
.news-box-img {
	float: left;
	margin: 0 15px 15px 0;
}
.produkt-box {
	display: table;
	margin-top: 5px;
}
.line-produkt-column {
	width: 300px;
	display: table-cell;
}
.line-produkt {
	padding-bottom: 45px;
	height: 150px;
	text-align: center;
}
.line-produkt-image {
	margin-right: 15px;
}
.line-produkt-title a {
	font-weight: 100;
	font-size: 14px;
	color: #5b5b5b;
	display: block;
	text-decoration: none;
	text-transform: uppercase;
}
.line-produkt-description {
	display: block;
	margin-top: 15px;
	font-size: 12px;
	color: #5b5b5b;
}
.product-info .description {
	font-weight: bold;
	margin-top: 25px;
}
.product-info .right-section{
    margin-left:330px;
}
.product-info .description a {
	color: #167ebc;
	text-decoration: underline;
	font-weight: normal;
}
.product-info .description span {
	font-weight: normal;
	line-height: 1.8em;
}
.product-info .price {
	font-size: 21px;
	padding-top: 10px;
}
.product-info .price span {
}
.product-info .price-new {
	color: #B40000;
}
.product-info .price-old {
	text-decoration: line-through;
}
.produkt-title {
	font-size: 24px;
	color: #5b5b5b;
	display: block;
	padding-top: 25px;
	padding-bottom: 15px;
}
.produkt-galerey {
	float: left;
	min-height: 400px;
	position: relative;
	z-index: 10;
}
.produkt-galerey-image {
	float: left;
	margin-right: 15px;
}
.produkt-galerey-additional {
	float: left;
	height: 500px;
	margin-right: 15px;
}
.produkt-galerey-additional a {
	display: block;
}
.produkt-info {
	float: left;
}
.nav-footer {
	position: relative;
	top: 5px;
}
.nav-footer ul {
	padding: 0;
	margin: 0;
}
.nav-footer ul li {
	display: inline;
}
.nav-footer ul li a {
	font-size: 12px;
	color: #ffffff;
	padding: 4px 22px 3px 22px;
	margin: 0 18px 0 18px;
	text-transform: uppercase;
	text-decoration: none;
}
.nav-footer ul li a:hover {
	background-color: #9f9f9f
}
.login-content {
}
.login-content .left {
	position: absolute;
	width: 400px;
	float: left;
}
.login-content .right {
	position: absolute;
	top: 0;
	left: 450px;
}
.cart-header {
	padding: 0px;
	height: 15px;
	background: url(../image/sprite.png) 1px -30px no-repeat;
	font-size: 12px;
	padding: 0 0 7px 0;
	overflow: hidden;
	display: inline-block;
	position: relative;
	vertical-align: top;
	z-index:15;
}
.cart-header a {
	text-decoration: none;
	color: #666666;
	padding-left: 25px;
}
.options {
	display: none;
}
.none {
	display: none;
}
.add-cart-produkt {
	position: relative;
	left: -10px;
	cursor: pointer;
	background-color: #9f9f9f;
	color: #ffffff;
	font-size: 16px;
	border: 0;
	padding: 5px 25px 5px 25px;
	margin: 10px 0 10px 0;
}
.add-cart-tt {
	position: relative;
	left: -10px;
	cursor: pointer;
	background-color: #9f9f9f;
	color: #ffffff;
	font-size: 16px;
	border: 0;
	padding: 5px 25px 5px 25px;
	margin: 10px 0 10px 0;
	line-height: 3em;
}
.product-info {
	width: 670px;
	float: left;
}
.prodikt-tabs-info {
	position: relative;
	float: left;
	height: 100px;
	width: 800px;
	height: 400px;
}
.prodikt-tabs-info .tab-content {
	height: 350px;
	width: 780px;
	border: 1px solid #c4c7c6;
	padding: 10px;
}
.prodikt-tabs-info .htabs a {
	color: #5b5b5b;
	text-transform: uppercase;
	text-decoration: none;
	padding: 5px;
	line-height: 28px;
}
.prodikt-tabs-info .htabs .selected {
	color: #ffffff;
	background-color: #9f9f9f;
}
.cart-form-info {
	position: relative;
	width: 800px;
	float: left;
	display: block;
}
.cart-order-form {
	position: relative;
	width: 800px;
	float: left;
	margin-left: 25px;
}
#cart-wrapper {
	/* height: 360px; */
}
.line-shop-column {
	width: 225px;
	padding-right: 25px;
	display: table-cell;
}
.line-shop {
}
.line-shop .img-line-shop {
}
.line-shop .link-line-shop {
	display: block;
	text-align: center;
	padding-bottom: 25px;
}
.shop-box-img {
	position: relative;
	float: left;
	margin: 0 15px 15px 0;
}
.shop-text-info {
	border: none;
	margin-left: 15px;
}
.shop-text-info tr {
}
.shop-text-info td {
	width: 242px;
	height: 143px;
	border: none;
	vertical-align: top;
	border-bottom: 1px solid #ccc;
	border-collapse: separate;
}
.mCustomScrollBox>.mCSB_scrollTools {
	width: 7px;
	height: 100%;
	top: 0;
	right: 0;
}
.mCSB_scrollTools .mCSB_draggerContainer {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height: auto;
}
.mCSB_scrollTools a+.mCSB_draggerContainer {
	margin: 20px 0;
}
.mCSB_scrollTools .mCSB_draggerRail {
	width: 1px;
	height: 100%;
	margin: 0 auto;
	background-color: #cbcbcb;
}
.mCSB_scrollTools .mCSB_dragger {
	cursor: pointer;
	width: 100%;
	/* height: 80px !important; */
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	width: 7px;
	height: 100%;
	margin: 0 auto;
	text-align: center;
	background-color: #515151;
	z-index: 1;
}
.mCSB_scrollTools .mCSB_buttonUp {
	display: block;
	position: relative;
	height: 20px;
	overflow: hidden;
	margin: 0 auto;
	cursor: pointer;
	background: url(../image/sprite.png) -1px 11px no-repeat;
}
.mCSB_scrollTools .mCSB_buttonDown {
	display: block;
	position: relative;
	height: 20px;
	overflow: hidden;
	margin: 0 auto;
	cursor: pointer;
	background: url(../image/sprite.png) -1px -15px no-repeat;
}
.mCSB_scrollTools .mCSB_buttonDown {
	top: 100%;
	margin-top: -40px;
}
/* horizontal scrollbar */


.mCSB_horizontal.mCustomScrollBox>.mCSB_scrollTools {
	width: 100%;
	height: 8px;
	top: auto;
	right: auto;
	bottom: 0;
	left: 0;
	overflow: hidden;
}
.mCSB_horizontal>.mCSB_scrollTools a+.mCSB_draggerContainer {
	margin: 0 8px;
}
.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail {
	width: 100%;
	height: 1px;
	margin: 3px 0;
	background-color: #d7d7d7;
}
.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger {
	width: 30px;
	height: 100%;
}
.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	width: 100%;
	height: 7px;
	margin: 0px auto;
	background-color: #515151;
}
.mCSB_horizontal>.mCSB_scrollTools .mCSB_buttonLeft {
	display: block;
	position: relative;
	width: 4px;
	height: 8px;
	overflow: hidden;
	margin: 0 auto;
	cursor: pointer;
	float: left;
	background: url(../image/sprite.png) -10px -1px no-repeat;
}
.mCSB_horizontal>.mCSB_scrollTools .mCSB_buttonRight {
	display: block;
	position: relative;
	width: 4px;
	height: 8px;
	overflow: hidden;
	margin: 0 auto;
	cursor: pointer;
	float: left;
	background: url(../image/sprite.png) -16px -1px no-repeat;
}
.mCSB_horizontal>.mCSB_scrollTools .mCSB_buttonRight {
	margin-left: -40px;
	float: right;
}
.footer {
	position: relative;
	height: 34px;
}
.page-title, h1 {
	font-weight: 100;
	font-size: 26px;
	color: #5b5b5b;
	display: block;
	margin: 0 !important;
}
.cart-info table {
	width: 757px;
	border-spacing: 0;
}
.shop-cart {
	position: relative;
	width: 1550px;
}
.shop-cart {
	width: 100%;
}
.cart-base-info {
	width: 785px;
	position: relative;
	display: block;
}
.cart-rig-colum {
	position: relative;
	width: 300px;
	margin-left: 5px;
}
.shop-cart #coupon {
	display: block;
}
.shop-cart #coupon input[type="text"] {
	float: left;
}
.simplecheckout-button-right  {
	float: left !important;
}
.simplecheckout-left-column, .simplecheckout-right-column  {
	float: none !important;
	display: inline-block;
	vertical-align: top;
}
.button {
	background-color: #9f9f9f;
	border: 0;
	color: #ffffff;
	line-height: 36px;
	text-transform: uppercase;
	padding: 5px 8px 5px 8px;
	margin: 5px;
	cursor: pointer;
}
.cart-rig-colum .cart-module {
	position: absolute;
	top: 0;
	margin-left: 310px;
}
.warning {
	color: #ff0000;
}
.checkout {
}
#checkout {
}
#checkout .checkout-content {
	width: 1550px;
	float: left;
	display: table;
}
#checkout .checkout-content .left {
	width: 400px;
	display: table-cell;
	background-color: #ffffff;
}
#payment-address .checkout-content .right,  #checkout .checkout-content .right {
	width: 500px;
	display: table-cell;
	padding: 0 5px 0 5px;
}
.sop-cart-etap-left {
	display: table-cell;
	padding: 0 5px 0 5px;
}
.sop-cart-etap-right {
	display: table-cell;
	padding: 0 5px 0 5px;
}
.main-content .left {
	background-color: #ffffff;
}
.pge-ubdate-adres {
	margin: 0 15px 0 15px;
}
html body div.main-content div#main-content-wrapper.main-content-wrapper div#mCSB_2.mCustomScrollBox div.mCSB_container div#content div.checkout div#payment-address div.checkout-content div div.buttons div.right {
	position: relative;
	float: left;
}
.main-content .mCSB_container {
	margin: 0 15px 0 0;
}
/* .buttons{ 
	position:relative;
	top:350px;
	background-color:#ff00ff;
	padding:5px;
	}*/
.required {
	color: red;
	line-height: 0;
}
.google-maps-all {
	position: absolute;
	top: 60px;
	font-size: 12px;
	display: block;
}
.add-to-cart-info {
	position: fixed;
	width: 200px;
	height: 80px;
	top: 50%;
	margin-top: -40px;
	padding-top: 10px;
	font-size: 18px;
	left: 40%;
	margin-left: -100px;
	color: #ffffff;
	opacity: 0.0;
	background-color: rgba(198,199,196,0.8);
	z-index: 2;
	text-align: center;
	display:none;
}
.slider-title {
	position: absolute;
	width: 882px;
	color: #ffffff;
	font-size: 28px;
	padding-left: 25px;
	line-height: 58px;
	text-transform: uppercase;
	display: block;
	bottom: 0;
	opacity: 0.0;
	background-color: rgba( 196, 196, 196, 0.5);
	-webkit-transition: all 1s linear;
	-moz-transition: all 1s linear;
	-o-transition: all 1s linear;
	transition: all 1s linear;
}
.slideshow:hover .slider-title {
	opacity: 1.0;
	-webkit-transition: all 1s linear;
	-moz-transition: all 1s linear;
	-o-transition: all 1s linear;
	transition: all 1s linear;
}
.none {
	display: none;
}
.box-heading {
	display: none;
}
.popup {
	display: none;
	width: 234px;
	font: 13px normal 'Tahoma';
	color:#033151;
	background: #F0F0F0;
	border: 8px solid #9F9F9F;
	position: absolute;
	z-index: 3;
	left: 313px;
	top: -167px;
	height: 160px;
	overflow: auto;
}
.cart  {
	position: relative;
}
.hp_center {
    margin: 0 auto;
    text-align: center;
    width: 980px;
}

/* box category */
.box-category {
	width: 200px;
}
.box-category ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.box-category > ul > li {
	margin: 0px 0px 1px 0px;
	overflow: hidden;
	padding: 0px
}
.box-category > ul > li span {
	float: right;
	background: url(../image/categoryArrows.png) 0 -13px;
	width: 13px;
	height: 13px;
	margin: 7px 7px 0 0;
	cursor: pointer
}
.box-category > ul > li span.active {
	background-position: 0 0;
}
.box-category > ul > li span.accordionTitle2 {
	background: url(../image/categoryArrows.png) -4px -17px;
	width: 5px;
	height: 5px;
	margin: 11px 11px 0 0;
	cursor: pointer
}
.box-category > ul > li span.accordionTitle2.active {
	background-position: -4px -4px;
}
.box-category > ul > li > a {
	text-decoration: none;
	padding: 6px 25px 6px 8px;
	display: block;
}
.box-category > ul > li a.active {
}
.box-category > ul > li a.active + ul {
	display: block;
}
.box-category > ul > li ul {
	float: left;
	width: 100%;
	margin: 0px;
	padding: 0px;
}
.box-category > ul > li ul > li {
	background: #fff;
	float: left;
	width: 100%;
	/* border-bottom: 1px #eee solid; */
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.box-category > ul > li ul > li ul > li {
	border-bottom: 0px #eee solid;
}
.box-category > ul > li ul > li:hover, .box-category > ul > li ul > li.child-active {
	background: #eee;
}
.box-category > ul > li ul > li > a {
	text-decoration: none;
	display: block;
	color: #232323;
	padding: 6px 25px 6px 6px;
}
.box-category > ul > li ul > li > a.subsub {
	padding: 6px 6px 6px 15px;
	background: #F5F5F5;
    /* border-top: 1px solid #D5D5D5; */
}
.box-category > ul > li ul > li > a.active {
	font-weight: bold;
}
.non_block  {
	display: inline-block;
	vertical-align: top;
	margin-left:30px;
}
.pagination  {
	display: inline-block;
}

.links {
    margin: 0 0px 20px 0;
	padding-top: 10px;
    display: block;
}

.results {
	display: none;
}

.links > a, .links > b {
    padding: 0 6px 0 0;
	text-decoration: underline;
	color: #5B5B5B;
}

.links .add-to-bookmark{
    background: url("../image/add_to_bookmark.png") 0 0 no-repeat;
    cursor:pointer;
    display: inline-block;
    padding-left: 24px;
    padding-top: 1px;
    padding-bottom: 1px;
}
.links .add-to-bookmark:hover{
    color: #167EBC;
}
.sch  {
	height: 395px;
	overflow: hidden !important;
	overflow-x: hidden !important;
}
#content > .breadcrumb  {
	/* display: none; */
}
#content > h1  {
	/* display: none; */
}
.cabinet {
    display: inline-block;
    padding: 5px 5px 0 0;
}
.category-info {
    display: none;
}
.contact-form-section{
    padding:10px 0;
}
span.discount_show {
  background: #f58b1e;
  color: #fff;
  font-size: 18px;
  line-height: 30px;
  padding: 0 12px;
  position: absolute;
  top: 20px;
  left: 0;
  z-index: 50;
  display: none;
}
span.discount_show_cart {
  background: #f58b1e;
  color: #fff;
  padding: 0 6px;
  float: left;
}
.price-cart, .total {
    padding-right: 5px;
    text-align: right;
}