/* ----------------------------------------------------
// shop Module for Opencart v1.5.6   					
// Modified by villagedefrance                          		
// contact@villagedefrance.net                         		
//-----------------------------------------------------
*/

/* shop Module Box */
.box-shop {
	background: #F8F8F8;
	padding: 10px;
	margin-bottom: 10px;
	overflow: auto;
	border: 1px solid #DBDEE1;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 2px 2px silver;
	-moz-box-shadow: 0px 2px 2px silver;
	box-shadow: 0px 2px 2px silver;
}
.box-shop h4 {
	margin-top: 0px;
	margin-bottom: 5px;
}
.box-shop p {
	margin-top: 0px;
	margin-bottom: 5px;
}
/* shop Information Page */
.content-shop {
	background: #FBFBFB;
	padding: 10px;
	margin-bottom: 10px;
	overflow: auto;
	border: 1px solid #DBDEE1;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 2px 2px silver;
	-moz-box-shadow: 0px 2px 2px silver;
	box-shadow: 0px 2px 2px silver;
}
.content-shop .shop {
	width: 100%;
}
.content-shop .shop a {
	text-decoration: none;
}
.content-shop .shop h3 {
	font-size: 14px;
	font-weight: bold;
	color: #444;
	text-shadow: 0 1px 1px silver;
	margin-top: 0px;
	margin-bottom: 5px;
}
.content-shop .shop p {
	margin: 5px 0px;
}
.content-shop .shop .image {
	width: auto;
	float: right;
	margin: 5px;
}