@import "../static/css/font-awesome-4.5.0/css/font-awesome.min.css";

body {
	font-family: 'Century Gothic, Verdana', Century Gothic, Verdana, Sans-Serif;
	background-color: #c4c7c6;
    min-width: 1005px;
}
.light-grey-bg {
    background: #f0f0f0;
}
.fright{
    float: right
}
.fleft{
    float: left
}
.page_wrapper_center {
	height: 625px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
img {
	border: 0;
}
textarea {
	overflow: hidden;
}
.home-content {
	background: #fff;
    padding-top: 10px;
}
.main-content input[type="password"], .main-content input[type="text"] {
	color: #404040;
	padding: 0px;
	font-size: 16px;
	font-weight: 300;
	border: 1px solid #b1b1b1;
}
.main-content input[type="password"]:hover,  .main-content input[type="text"]:hover {
	border: 1px solid #b1b1b1;
	box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
	transition: all 0.1s linear;
}
.main-content input[type="password"]:focus,  .main-content input[type="text"]:focus {
	border: 1px solid #767676;
	box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
}
a {
	text-decoration: none;
	color: #050709;
	text-decoration: underline;
}
.header {
	padding-bottom: 5px;
	padding-top: 5px;

}
.logo {
	margin: 20px 0 0;
	display: inline-block;
}

.head-nav ul li a {
	font-size: 14px;
	font-weight: bold;
	color: #ffffff;
	padding: 2px 16px 3px 22px;
	text-transform: uppercase;
	text-decoration: none;
}

.head-nav ul.dropdown-menu li a{
    color: #050709;
    font-weight: normal;
    padding-left: 10px;
    padding-right: 5px;
    text-transform: none;
}

.head-nav .login-btn{
    text-decoration: none;
    cursor: pointer;
    max-width: 150px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 2px;
    color: #666;

}
.head-nav .login-btn:hover {
    color: #000;
}

.head-nav ul li a:hover {
	background-color: #9f9f9f;
	color: #f4f5f7;
}
.head-nav .activesnav {
	background-color: #9f9f9f;
	color: #f4f5f7;
}
.head-nav ul > li > ul {
	position: absolute;
	padding: 6px 0;
	visibility: collapse;
	background-color: #9f9f9f;
	width: 400px;
	left: 0;
	text-align: left;
	margin-top: 4px;
	transition-delay: .1s;
    list-style: none;
    z-index:99;

}
.head-nav ul > li > ul li {
	padding: 0;
    display: inline-block;
    width: 49%;
    vertical-align: top;

}
.head-nav ul > li > ul li a {
	font-weight: bold;
    font-size: 16px;
    text-transform: none;
    display: block;
}
.head-nav ul > li > ul li a:hover  {
/* 	text-decoration: underline; */
background: #888;
}
.head-nav ul > li:hover > ul {
	visibility: visible;
	/* transition-delay: .5s; */
}
.head-nav ul > li > ul > li > ul {
	position: absolute;
	visibility: collapse;
	background-color: #9f9f9f;
}
.head-nav ul > li > ul > li:hover > ul {
	visibility: visible;
}
.head-nav ul li ul li ul a {
	font-weight: normal;
}
.head-nav ul > li > ul > li > ul > li  {
	display: inline-block;
}
.banners {
    list-style: none;
    padding: 0;
    margin: 0;
}
.banners li{
    margin-top: 10px;
}
.banners li:first-child{
    margin-top: 0;
}
.banners img{
    display: block;
}
.search-head {
	padding: 0 5px 0 5px;
	vertical-align: top;
	width: 200px;
	display: inline-block;
	position: relative;
}

.simplecheckout-cart td.quantity img  {
}
.simplecheckout-cart td.quantity input[type="text"]  {
	border: none;
}
.simplecheckout-cart td.quantity input[type="text"]:hover  {
	border: none;
	box-shadow: none;
}
.simplecheckout-right-column  {
	display: block;
}
.button-search {
	display: inline-block;
	height: 23px;
	cursor: pointer;
	font-size: 12px;
	line-height: 22px;
	padding: 0 6px 0 5px;
	font-weight: bold;
	color: #ffffff;
	text-transform: uppercase;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c4c7c6', endColorstr='#939393'); /* для IE6-9 */
	background: -moz-linear-gradient(top, #c4c7c6, #939393); /* Firefox 3.6+ */
	/* Chrome 1-9, Safari 4-5 */
	background: -webkit-gradient(linear, left top, left bottom,  color-stop(0%, #c4c7c6), color-stop(100%, #939393));
	/* Chrome 10+, Safari 5.1+ */
	background: -webkit-linear-gradient(top, #c4c7c6, #939393);
	background: -o-linear-gradient(top, #c4c7c6, #939393); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #c4c7c6, #939393); /* IE10 */
	background: linear-gradient(top, #c4c7c6, #939393); /* CSS3 */
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0x;
	border-radius: 0 5px 5px 0;
	z-index:15;
}
.header .phones{
	background: #fff url("../image/header-phone.png") 5px 9px no-repeat;
	float: right;
	padding: 0 5px 10px 45px;
	text-align: left;
}
.search-head input {
	background: #FFF;
	padding: 1px 1px 1px 5px;
	width: 150px;
	height: 20px;
	border: 0;
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
	vertical-align: bottom;
}
.content-wrapper {
	background-color: #ff00ff;
	display: table;
}
.sidebar.left {
	width: 245px;
	padding: 10px;
	vertical-align: top;
	background-color: #f0f0f0;
	font-size: 16px;
    float: left;
	color: #5b5b5b;
}
.sidebar.product-page {
    width: 245px;
    padding: 10px;
    vertical-align: top;
    background-color: #f0f0f0;
    font-size: 16px;
    position: absolute;
    height: 100%;
    color: #5b5b5b;
    top: 85px;
    bottom: 0;
}
.grey-bg{
    background: #c4c7c6;
}
.name a  {
	color: #797979;
	text-decoration: none;
}
.left-wrapper.product-page {
	height: 429px;
    overflow: auto;
}
.product {
	width: 215px;
	padding: 10px;
	display: table-cell;
	vertical-align: top;
	text-align: center;
	background-color: #ffffff;
	font-size: 16px;
	color: #5b5b5b;
}
#brand {
	display: inline;
}
.product .cart,  .product .price {
	display: none;
}
.left-wrapper {

}
.left-wrapper ul {
	padding: 0;
	margin: 0;
	padding-right: 15px;
}
.left-wrapper ul ul {
	padding: 0;
	margin: 0 0 0 25px;
}
.left-wrapper ul li, .manufacturers li {
	list-style-type: none;
}
.left-wrapper ul li a {
	font-size: 16px;
	color: #5b5b5b;
	text-decoration: none;
}
.left-wrapper ul li li a {
	font-size: 12px;
}
.left-wrapper ul li li {
	/* display: none; */
}
.left-wrapper ul .active-expand li {
	display: block;
}
.main-content {
	padding: 10px 15px;
	font-size: 14px;
    margin-left:245px;
	color: #5b5b5b;
	vertical-align: top;
	background-color: #ffffff;
    overflow: hidden;
    min-height: 520px;
}
.home-page-hits{
    margin-top: 10px;
}
.main-content.fw  {
	width: 1920px;
}
.main-content-wrapper {

}
.info-wrapper {
	width: 890px;
	height: 350px;
}
.info-wrapper-news {

}
.info-wrapper .news-box {
	margin-right: 15px;
}
.news-box {

}
.news-box.shop {
	display: block;
}
.news-box-title {
	font-size: 24px;
	color: #515151;
	/* line-height: 62px; */
}
.line-news-column {
    display: inline-block;
    margin-bottom: 12px;
    vertical-align: top;
    width: 186px;
}
.line-news {
	padding-bottom: 45px;
	height: 150px;
	margin-right: 25px;
}
.info-news {
	padding-bottom: 5px;
	margin-right: 15px;
	padding-top:10px;
}
.line-news-prev {
	position: relative;
	float: left;
	margin-right: 15px;
	display: block;
}
.line-news-title {
	position: relative;
	font-weight: bold;
	font-size: 14px;
	color: #5b5b5b;
	display: block;
}
.line-news-title a  {
	color: #5b5b5b;
	text-decoration: none;
}
.line-news-description {
	display: block;
	margin-top: 15px;
	font-size: 12px;
	color: #5b5b5b;
}
.line-news-href {
	position: relative;
	width: 0;
	top: 130px;
	float: left;
	display: inline;
}
.line-news-href a {
	font-size: 12px;
	color: #3F0000;
}
.news-box {
}
.bread-crumbs {
	margin-bottom: 15px;
}
.bread-crumbs a {
	color: #5b5b5b;
	font-size: 14px;
	text-decoration: none;
}

.attribute_box {
    display: none;
}
.news-box-img {
	float: left;
	margin: 0 15px 15px 0;
}
.line-produkt-column {
	width: 300px;
	display: table-cell;
}
.line-produkt {
	padding-bottom: 45px;
	height: 150px;
	text-align: center;
}
.line-produkt-image {
	margin-right: 15px;
}
.line-produkt-title a {
	font-weight: 100;
	font-size: 14px;
	color: #5b5b5b;
	display: block;
	text-decoration: none;
	text-transform: uppercase;
}
.line-produkt-description {
	display: block;
	margin-top: 15px;
	font-size: 12px;
	color: #5b5b5b;
}
.product-info .description {
	font-weight: bold;
}
.product-info .right-section{
    margin-left:330px;
}
.product-info .description a {
	color: #167ebc;
	text-decoration: underline;
	font-weight: normal;
}
.product-info .description span {
	font-weight: normal;
	line-height: 1.8em;
}
.product-info .name {
	line-height: normal;
}
.product-info .price {
    font-size: 20px;
    height: 40px;
    overflow: hidden;
    padding-bottom: 5px;
    padding-top: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.product-info .markup {
	font-size: 14px;
}
.produkt-box .product-info .markup {
    padding: 8px 0 16px 0;
}
.product-info .price span {
}
.product-info .price-new {
	color: #B40000;
}
.product-info .price-old {
	text-decoration: line-through;
}
.produkt-title {
	font-size: 24px;
	color: #5b5b5b;
	display: block;
	padding-top: 25px;
	padding-bottom: 15px;
}
.produkt-galerey {
	position: relative;
	z-index: 10;
}
.produkt-galerey-additional a {
	display: block;
}
.produkt-info {
	float: left;
}
.nav-footer {
	position: relative;
	top: 5px;
}
.nav-footer ul {
	padding: 0;
	margin: 0;
}
.nav-footer ul li {
	display: inline;
}
.nav-footer ul li a {
	font-size: 12px;
	color: #ffffff;
	padding: 4px 22px 3px 22px;
	margin: 0 18px 0 18px;
	text-transform: uppercase;
	text-decoration: none;
}
.nav-footer ul li a:hover {
	background-color: #9f9f9f
}
.login-content {
}
.login-content .left {
	position: absolute;
	width: 400px;
	float: left;
}
.login-content .right {
	position: absolute;
	top: 0;
	left: 450px;
}
.cart-header {
    font-size: 14px;
    margin-top: 2px;
    color: #666;
}
.cart-header a, .cabinet a {
	text-decoration: none;
	color: #666666;
}
.cart-header a:hover, .cabinet a:hover{
    color: #222222;
}
.cabinet{
    margin-top: 2px;
}
.options {
	display: none;
}
.none {
	display: none;
}
.add-cart-produkt {
	cursor: pointer;
	background-color: #9f9f9f;
	color: #ffffff;
	font-size: 16px;
	border: 0;
	padding: 5px 25px 5px 25px;
}
.add-cart-tt {
	position: relative;
	left: -10px;
	cursor: pointer;
	background-color: #9f9f9f;
	color: #ffffff;
	font-size: 16px;
	border: 0;
	padding: 5px 25px 5px 25px;
	margin: 10px 0 10px 0;
	line-height: 3em;
}
.produkt-box .product-info {
    float: none !important;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 32px;
    margin-left: -2px;
    margin-right: -2px;
}
.product-info {
	position: relative;
}
.product-info .name{
    height: 40px;
    overflow: hidden;
    margin-top: 10px;
}
.product-info .image a{
    display: block;
}
.product-info .image img{
    width: 100%;
}
.prodikt-tabs-info {
    margin-top: 20px;
}
.prodikt-tabs-info .tab-content {
	padding: 10px 0;
}
.prodikt-tabs-info .htabs a {
	color: #5b5b5b;
	text-transform: uppercase;
	text-decoration: none;
	padding: 5px;
	line-height: 28px;
}
.prodikt-tabs-info .htabs .selected {
	color: #ffffff;
	background-color: #9f9f9f;
}
.cart-form-info {
	position: relative;
	width: 800px;
	float: left;
	display: block;
}
.cart-order-form {
	position: relative;
	width: 800px;
	float: left;
	margin-left: 25px;
}
#cart-wrapper {
	/* height: 360px; */
}
.line-shop-column {
	width: 225px;
	padding-right: 25px;
	display: table-cell;
}
.line-shop {
}
.line-shop .img-line-shop {
}
.line-shop .link-line-shop {
	display: block;
	text-align: center;
	padding-bottom: 25px;
}
.shop-box-img {
	position: relative;
	float: left;
	margin: 0 15px 15px 0;
}
.shop-text-info {
	border: none;
	margin-left: 15px;
}
.shop-text-info tr {
}
.shop-text-info td {
	width: 242px;
	height: 143px;
	border: none;
	vertical-align: top;
	border-bottom: 1px solid #ccc;
	border-collapse: separate;
}
.mCustomScrollBox>.mCSB_scrollTools {
	width: 7px;
	height: 100%;
	top: 0;
	right: 0;
}
.mCSB_scrollTools .mCSB_draggerContainer {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height: auto;
}
.mCSB_scrollTools a+.mCSB_draggerContainer {
	margin: 20px 0;
}
.mCSB_scrollTools .mCSB_draggerRail {
	width: 1px;
	height: 100%;
	margin: 0 auto;
	background-color: #cbcbcb;
}
.mCSB_scrollTools .mCSB_dragger {
	cursor: pointer;
	width: 100%;
	/* height: 80px !important; */
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	width: 7px;
	height: 100%;
	margin: 0 auto;
	text-align: center;
	background-color: #515151;
	z-index: 1;
}
.mCSB_scrollTools .mCSB_buttonUp {
	display: block;
	position: relative;
	height: 20px;
	overflow: hidden;
	margin: 0 auto;
	cursor: pointer;
	background: url(../image/sprite.png) -1px 11px no-repeat;
}
.mCSB_scrollTools .mCSB_buttonDown {
	display: block;
	position: relative;
	height: 20px;
	overflow: hidden;
	margin: 0 auto;
	cursor: pointer;
	background: url(../image/sprite.png) -1px -15px no-repeat;
}
.mCSB_scrollTools .mCSB_buttonDown {
	top: 100%;
	margin-top: -40px;
}
/* horizontal scrollbar */


.mCSB_horizontal.mCustomScrollBox>.mCSB_scrollTools {
	width: 100%;
	height: 8px;
	top: auto;
	right: auto;
	bottom: 0;
	left: 0;
	overflow: hidden;
}
.mCSB_horizontal>.mCSB_scrollTools a+.mCSB_draggerContainer {
	margin: 0 8px;
}
.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail {
	width: 100%;
	height: 1px;
	margin: 3px 0;
	background-color: #d7d7d7;
}
.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger {
	width: 30px;
	height: 100%;
}
.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	width: 100%;
	height: 7px;
	margin: 0px auto;
	background-color: #515151;
}
.mCSB_horizontal>.mCSB_scrollTools .mCSB_buttonLeft {
	display: block;
	position: relative;
	width: 4px;
	height: 8px;
	overflow: hidden;
	margin: 0 auto;
	cursor: pointer;
	float: left;
	background: url(../image/sprite.png) -10px -1px no-repeat;
}
.mCSB_horizontal>.mCSB_scrollTools .mCSB_buttonRight {
	display: block;
	position: relative;
	width: 4px;
	height: 8px;
	overflow: hidden;
	margin: 0 auto;
	cursor: pointer;
	float: left;
	background: url(../image/sprite.png) -16px -1px no-repeat;
}
.mCSB_horizontal>.mCSB_scrollTools .mCSB_buttonRight {
	margin-left: -40px;
	float: right;
}
.footer {
	position: relative;
	height: 34px;
}
.page-title, h1 {
	font-weight: 100;
	font-size: 26px;
	color: #5b5b5b;
	display: block;
	margin: 0 !important;
}
.cart-info table {
	width: 757px;
	border-spacing: 0;
}
.shop-cart {
	position: relative;
	width: 1550px;
}
.shop-cart {
	width: 100%;
}
.cart-base-info {
	width: 785px;
	position: relative;
	display: block;
}
.cart-rig-colum {
	position: relative;
	width: 300px;
	margin-left: 5px;
}
.shop-cart #coupon {
	display: block;
}
.shop-cart #coupon input[type="text"] {
	float: left;
}
.simplecheckout-button-right  {
	float: left !important;
}
.simplecheckout-customer td{
    padding-bottom: 6px;
}
.button {
	background-color: #9f9f9f;
	border: 0;
	color: #ffffff;
	line-height: 36px;
	text-transform: uppercase;
	padding: 5px 8px 5px 8px;
	margin: 5px;
	cursor: pointer;
}
.cart-rig-colum .cart-module {
	position: absolute;
	top: 0;
	margin-left: 310px;
}
.warning {
	color: #ff0000;
}
.checkout {
}
#checkout {
}
#checkout .checkout-content {
	width: 1550px;
	float: left;
	display: table;
}
#checkout .checkout-content .left {
	width: 400px;
	display: table-cell;
	background-color: #ffffff;
}
#payment-address .checkout-content .right,  #checkout .checkout-content .right {
	width: 500px;
	display: table-cell;
	padding: 0 5px 0 5px;
}
.sop-cart-etap-left {
	display: table-cell;
	padding: 0 5px 0 5px;
}
.sop-cart-etap-right {
	display: table-cell;
	padding: 0 5px 0 5px;
}
.main-content .left {
	background-color: #ffffff;
}
.pge-ubdate-adres {
	margin: 0 15px 0 15px;
}
html body div.main-content div#main-content-wrapper.main-content-wrapper div#mCSB_2.mCustomScrollBox div.mCSB_container div#content div.checkout div#payment-address div.checkout-content div div.buttons div.right {
	position: relative;
	float: left;
}
.main-content .mCSB_container {
	margin: 0 15px 0 0;
}
/* .buttons{ 
	position:relative;
	top:350px;
	background-color:#ff00ff;
	padding:5px;
	}*/
.required {
	color: red;
	line-height: 0;
}
.google-maps-all {
	position: absolute;
	top: 60px;
	font-size: 12px;
	display: block;
}
.add-to-cart-info {
	position: fixed;
	width: 200px;
	height: 80px;
	top: 50%;
	margin-top: -40px;
	padding-top: 10px;
	font-size: 18px;
	left: 40%;
	margin-left: -100px;
	color: #ffffff;
	opacity: 0.0;
	background-color: rgba(198,199,196,0.8);
	z-index: 2;
	text-align: center;
	display:none;
}
.slider-title {
	position: absolute;
	width: 100%;
	color: #ffffff;
	font-size: 28px;
	padding-left: 25px;
	line-height: 58px;
	text-transform: uppercase;
	display: block;
	bottom: 0;
	opacity: 0.0;
	background-color: rgba( 196, 196, 196, 0.5);
	-webkit-transition: all 1s linear;
	-moz-transition: all 1s linear;
	-o-transition: all 1s linear;
	transition: all 1s linear;
}
.carousel-inner:hover .slider-title {
	opacity: 1.0;
	-webkit-transition: all 1s linear;
	-moz-transition: all 1s linear;
	-o-transition: all 1s linear;
	transition: all 1s linear;
}
.none {
	display: none;
}
.box-heading {
	display: none;
}
.popup {
	display: none;
	width: 234px;
	font: 13px normal 'Tahoma';
	color:#033151;
	background: #F0F0F0;
	border: 8px solid #9F9F9F;
	position: absolute;
	z-index: 3;
	left: 313px;
	top: -167px;
	height: 160px;
	overflow: auto;
}
.cart  {
	position: relative;
}
.hp_center {
    margin: 0 auto;
    text-align: center;
    width: 980px;
}

.fixedLayout .container {
    width: 980px;
}

/* box category */
.box-category {
	width: 200px;
}
.box-category ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.box-category > ul > li {
	margin: 0px 0px 1px 0px;
	overflow: hidden;
	padding: 0px
}
.box-category > ul > li span {
	float: right;
	background: url(../image/categoryArrows.png) 0 -13px;
	width: 13px;
	height: 13px;
	margin: 7px 7px 0 0;
	cursor: pointer
}
.box-category > ul > li span.active {
	background-position: 0 0;
}
.box-category > ul > li span.accordionTitle2 {
	background: url(../image/categoryArrows.png) -4px -17px;
	width: 5px;
	height: 5px;
	margin: 11px 11px 0 0;
	cursor: pointer
}
.box-category > ul > li span.accordionTitle2.active {
	background-position: -4px -4px;
}
.box-category > ul > li > a {
	text-decoration: none;
	padding: 6px 25px 6px 8px;
	display: block;
}
.box-category > ul > li a.active {
}
.box-category > ul > li a.active + ul {
	display: block;
}
.box-category > ul > li ul {
	float: left;
	width: 100%;
	margin: 0px;
	padding: 0px;
}
.box-category > ul > li ul > li {
	background: #fff;
	float: left;
	width: 100%;
	/* border-bottom: 1px #eee solid; */
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.box-category > ul > li ul > li ul > li {
	border-bottom: 0px #eee solid;
}
.box-category > ul > li ul > li:hover, .box-category > ul > li ul > li.child-active {
	background: #eee;
}
.box-category > ul > li ul > li > a {
	text-decoration: none;
	display: block;
	color: #232323;
	padding: 6px 25px 6px 6px;
}
.box-category > ul > li ul > li > a.subsub {
	padding: 6px 6px 6px 15px;
	background: #F5F5F5;
    /* border-top: 1px solid #D5D5D5; */
}
.box-category > ul > li ul > li > a.active {
	font-weight: bold;
}
.non_block  {
	display: inline-block;
	vertical-align: top;
	margin-left:30px;
}
.pagination  {
	display: inline-block;
}

.links {
    margin: 0 0px 20px 0;
	padding-top: 10px;
    display: block;
}

.results {
	display: none;
}

.links > a, .links > b {
    padding: 0 6px 0 0;
	text-decoration: underline;
	color: #5B5B5B;
    font-size: 16px;
}
.links > b{
    text-decoration: none;
}

.links .add-to-bookmark{
    background: url("../image/add_to_bookmark.png") 0 0 no-repeat;
    cursor:pointer;
    display: inline-block;
    padding-left: 24px;
    padding-top: 1px;
    padding-bottom: 1px;
}
.links .add-to-bookmark:hover{
    color: #167EBC;
}
#content > .breadcrumb  {
	/* display: none; */
}
#content > h1  {
	/* display: none; */
}
.contact-form-section{
    padding:10px 0;
}
span.discount_show {
  background: #f58b1e;
  color: #fff;
  font-size: 18px;
  line-height: 30px;
  padding: 0 12px;
  position: absolute;
  top: 20px;
  left: 5px;
  z-index: 50;
}
span.discount_show_cart {
  background: #f58b1e;
  color: #fff;
  padding: 0 6px;
  float: left;
}
.price-cart, .total {
    padding-right: 5px;
    text-align: right;
}

.box-product div.image a, .box-product div.image img{
    display: block;
    width: 100%;
}

.top-panel{
    background: #c4c7c6;
    color:#fff;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left:15px;
    padding-right:15px;
}
.top-panel h1{
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}
.top-panel.panel-black{
    background: #c4c7c6;
}
.top-panel .sorting{

}
.top-panel .sorting ul{
    padding:0;
    margin: 0;
}
.top-panel .sorting li{
    float:left;
    list-style: none;
    margin-left: 14px;
}
.top-panel .sorting li.active{
    font-weight: bold;
}
.top-panel .sorting li:first-child{
    margin-left: 0px;
}
.top-panel .sorting a{
    font-size: 12px;
    color: #fff;
}
#load-more{
    margin-top:25px;
}

#load-more.disabled{
    background-image: url("../image/load.gif");
    background-position: 5px 8px;
    background-repeat: no-repeat;
    padding-left: 26px;
}

.counter {
    overflow: hidden;
    display: inline-block;
    float: left;
}
.counter button,
.counter p {
    float: left;
    display: inline-block;
    height: 35px;
    width: 30px;
}
.counter input.amount{
    width: 40px;
    border: none;
    line-height: 20px;
    background: #fff;
    margin: 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    text-align: center;
    padding: 6px 0;
    background: #fff;
    float: left;
    height: 35px;
    /* border: none; */
}
.counter button {
    border: 1px solid #ccc;
    font-weight: bold;
}
.counter .add {
    border-radius: 4px 0 0 4px;
}
.counter .add:focus {
    outline: none;
}
.counter .add:active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.counter .delete {
    border-radius: 0 4px 4px 0;
}
.counter .delete:focus {
    outline: none;
}
.counter .delete:active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.home-content .slideshow-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
}
.home-content .slideshow-indicators li{
    opacity: 0.6;
    margin-bottom:10px;
}
.home-content .slideshow-indicators img{
    display: block;
    width: 100%;
}
.home-content .slideshow-indicators li.active, .home-content .slideshow-indicators li:hover{
    opacity: 1;
}
.gallery-view-dialog .modal-body{
    min-height: 500px;
}

.gallery-view-dialog .fotorama .fotorama__wrap{
    margin: 0 auto;
}

.gallery-view-dialog .spinner{
    background:#fff url("../image/load.gif") 50% 50% no-repeat;
    width: 100%;
    height: 100%;
    position:absolute;
    z-index: 2;
    top: 0;
    left: 0;
}
.option_box label {
    font-weight: normal;
    font-size: 14px;
}
/*!
 * Fotorama 4.6.3 | http://fotorama.io/license/
 */
.fotorama__arr:focus:after,.fotorama__fullscreen-icon:focus:after,.fotorama__html,.fotorama__img,.fotorama__nav__frame:focus .fotorama__dot:after,.fotorama__nav__frame:focus .fotorama__thumb:after,.fotorama__stage__frame,.fotorama__stage__shaft,.fotorama__video iframe{position:absolute;width:100%;height:100%;top:0;right:0;left:0;bottom:0}.fotorama--fullscreen,.fotorama__img{max-width:99999px!important;max-height:99999px!important;min-width:0!important;min-height:0!important;border-radius:0!important;box-shadow:none!important;padding:0!important}.fotorama__wrap .fotorama__grab{cursor:move;cursor:-webkit-grab;cursor:-o-grab;cursor:-ms-grab;cursor:grab}.fotorama__grabbing *{cursor:move;cursor:-webkit-grabbing;cursor:-o-grabbing;cursor:-ms-grabbing;cursor:grabbing}.fotorama__spinner{position:absolute!important;top:50%!important;left:50%!important}.fotorama__wrap--css3 .fotorama__arr,.fotorama__wrap--css3 .fotorama__fullscreen-icon,.fotorama__wrap--css3 .fotorama__nav__shaft,.fotorama__wrap--css3 .fotorama__stage__shaft,.fotorama__wrap--css3 .fotorama__thumb-border,.fotorama__wrap--css3 .fotorama__video-close,.fotorama__wrap--css3 .fotorama__video-play{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.fotorama__caption,.fotorama__nav:after,.fotorama__nav:before,.fotorama__stage:after,.fotorama__stage:before,.fotorama__wrap--css3 .fotorama__html,.fotorama__wrap--css3 .fotorama__nav,.fotorama__wrap--css3 .fotorama__spinner,.fotorama__wrap--css3 .fotorama__stage,.fotorama__wrap--css3 .fotorama__stage .fotorama__img,.fotorama__wrap--css3 .fotorama__stage__frame{-webkit-transform:translateZ(0);transform:translateZ(0)}.fotorama__arr:focus,.fotorama__fullscreen-icon:focus,.fotorama__nav__frame{outline:0}.fotorama__arr:focus:after,.fotorama__fullscreen-icon:focus:after,.fotorama__nav__frame:focus .fotorama__dot:after,.fotorama__nav__frame:focus .fotorama__thumb:after{content:'';border-radius:inherit;background-color:rgba(0,175,234,.5)}.fotorama__wrap--video .fotorama__stage,.fotorama__wrap--video .fotorama__stage__frame--video,.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__html,.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__img,.fotorama__wrap--video .fotorama__stage__shaft{-webkit-transform:none!important;transform:none!important}.fotorama__wrap--css3 .fotorama__nav__shaft,.fotorama__wrap--css3 .fotorama__stage__shaft,.fotorama__wrap--css3 .fotorama__thumb-border{transition-property:-webkit-transform,width;transition-property:transform,width;transition-timing-function:cubic-bezier(0.1,0,.25,1);transition-duration:0ms}.fotorama__arr,.fotorama__fullscreen-icon,.fotorama__no-select,.fotorama__video-close,.fotorama__video-play,.fotorama__wrap{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.fotorama__select{-webkit-user-select:text;-moz-user-select:text;-ms-user-select:text;user-select:text}.fotorama__nav,.fotorama__nav__frame{margin:auto;padding:0}.fotorama__caption__wrap,.fotorama__nav__frame,.fotorama__nav__shaft{-moz-box-orient:vertical;display:inline-block;vertical-align:middle;*display:inline;*zoom:1}.fotorama__nav__frame,.fotorama__thumb-border{box-sizing:content-box}.fotorama__caption__wrap{box-sizing:border-box}.fotorama--hidden,.fotorama__load{position:absolute;left:-99999px;top:-99999px;z-index:-1}.fotorama__arr,.fotorama__fullscreen-icon,.fotorama__nav,.fotorama__nav__frame,.fotorama__nav__shaft,.fotorama__stage__frame,.fotorama__stage__shaft,.fotorama__video-close,.fotorama__video-play{-webkit-tap-highlight-color:transparent}.fotorama__arr,.fotorama__fullscreen-icon,.fotorama__video-close,.fotorama__video-play{background:url(fotorama.png) no-repeat}@media (-webkit-min-device-pixel-ratio:1.5),(min-resolution:2dppx){.fotorama__arr,.fotorama__fullscreen-icon,.fotorama__video-close,.fotorama__video-play{background:url(fotorama@2x.png) 0 0/96px 160px no-repeat}}.fotorama__thumb{background-color:#7f7f7f;background-color:rgba(127,127,127,.2)}@media print{.fotorama__arr,.fotorama__fullscreen-icon,.fotorama__thumb-border,.fotorama__video-close,.fotorama__video-play{background:none!important}}.fotorama{min-width:1px;overflow:hidden}.fotorama:not(.fotorama--unobtrusive)>*:not(:first-child){display:none}
.fotorama .fullscreen{width:100%!important;height:100%!important;max-width:100%!important;max-height:100%!important;margin:0!important;padding:0!important;overflow:hidden!important;background:#000}.fotorama--fullscreen{position:absolute!important;top:0!important;left:0!important;right:0!important;bottom:0!important;float:none!important;z-index:2147483647!important;background:#000;width:100%!important;height:100%!important;margin:0!important}.fotorama--fullscreen .fotorama__nav,.fotorama--fullscreen .fotorama__stage{background:#000}.fotorama__wrap{-webkit-text-size-adjust:100%;position:relative;direction:ltr;z-index:0}.fotorama__wrap--rtl .fotorama__stage__frame{direction:rtl}.fotorama__nav,.fotorama__stage{overflow:hidden;position:relative;max-width:100%}.fotorama__wrap--pan-y{-ms-touch-action:pan-y}.fotorama__wrap .fotorama__pointer{cursor:pointer}.fotorama__wrap--slide .fotorama__stage__frame{opacity:1!important}.fotorama__stage__frame{overflow:hidden}.fotorama__stage__frame.fotorama__active{z-index:8}.fotorama__wrap--fade .fotorama__stage__frame{display:none}.fotorama__wrap--fade .fotorama__fade-front,.fotorama__wrap--fade .fotorama__fade-rear,.fotorama__wrap--fade .fotorama__stage__frame.fotorama__active{display:block;left:0;top:0}.fotorama__wrap--fade .fotorama__fade-front{z-index:8}.fotorama__wrap--fade .fotorama__fade-rear{z-index:7}.fotorama__wrap--fade .fotorama__fade-rear.fotorama__active{z-index:9}.fotorama__wrap--fade .fotorama__stage .fotorama__shadow{display:none}.fotorama__img{-ms-filter:"alpha(Opacity=0)";filter:alpha(opacity=0);opacity:0;border:none!important}.fotorama__error .fotorama__img,.fotorama__loaded .fotorama__img{-ms-filter:"alpha(Opacity=100)";filter:alpha(opacity=100);opacity:1}.fotorama--fullscreen .fotorama__loaded--full .fotorama__img,.fotorama__img--full{display:none}.fotorama--fullscreen .fotorama__loaded--full .fotorama__img--full{display:block}.fotorama__wrap--only-active .fotorama__nav,.fotorama__wrap--only-active .fotorama__stage{max-width:99999px!important}.fotorama__wrap--only-active .fotorama__stage__frame{visibility:hidden}.fotorama__wrap--only-active .fotorama__stage__frame.fotorama__active{visibility:visible}.fotorama__nav{font-size:0;line-height:0;text-align:center;display:none;white-space:nowrap;z-index:5}.fotorama__nav__shaft{position:relative;left:0;top:0;text-align:left}.fotorama__nav__frame{position:relative;cursor:pointer}.fotorama__nav--dots{display:block}.fotorama__nav--dots .fotorama__nav__frame{width:18px;height:30px}.fotorama__nav--dots .fotorama__nav__frame--thumb,.fotorama__nav--dots .fotorama__thumb-border{display:none}.fotorama__nav--thumbs{display:block}.fotorama__nav--thumbs .fotorama__nav__frame{padding-left:0!important}.fotorama__nav--thumbs .fotorama__nav__frame:last-child{padding-right:0!important}.fotorama__nav--thumbs .fotorama__nav__frame--dot{display:none}.fotorama__dot{display:block;width:4px;height:4px;position:relative;top:12px;left:6px;border-radius:6px;border:1px solid #7f7f7f}.fotorama__nav__frame:focus .fotorama__dot:after{padding:1px;top:-1px;left:-1px}.fotorama__nav__frame.fotorama__active .fotorama__dot{width:0;height:0;border-width:3px}.fotorama__nav__frame.fotorama__active .fotorama__dot:after{padding:3px;top:-3px;left:-3px}.fotorama__thumb{overflow:hidden;position:relative;width:100%;height:100%}.fotorama__nav__frame:focus .fotorama__thumb{z-index:2}.fotorama__thumb-border{position:absolute;z-index:9;top:0;left:0;border-style:solid;border-color:#00afea;background-image:linear-gradient(to bottom right,rgba(255,255,255,.25),rgba(64,64,64,.1))}.fotorama__caption{position:absolute;z-index:12;bottom:0;left:0;right:0;font-family:'Helvetica Neue',Arial,sans-serif;font-size:14px;line-height:1.5;color:#000}.fotorama__caption a{text-decoration:none;color:#000;border-bottom:1px solid;border-color:rgba(0,0,0,.5)}.fotorama__caption a:hover{color:#333;border-color:rgba(51,51,51,.5)}.fotorama__wrap--rtl .fotorama__caption{left:auto;right:0}.fotorama__wrap--no-captions .fotorama__caption,.fotorama__wrap--video .fotorama__caption{display:none}.fotorama__caption__wrap{background-color:#fff;background-color:rgba(255,255,255,.9);padding:5px 10px}@-webkit-keyframes spinner{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes spinner{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}.fotorama__wrap--css3 .fotorama__spinner{-webkit-animation:spinner 24s infinite linear;animation:spinner 24s infinite linear}.fotorama__wrap--css3 .fotorama__html,.fotorama__wrap--css3 .fotorama__stage .fotorama__img{transition-property:opacity;transition-timing-function:linear;transition-duration:.3s}.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__html,.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__img{-ms-filter:"alpha(Opacity=0)";filter:alpha(opacity=0);opacity:0}.fotorama__select{cursor:auto}.fotorama__video{top:32px;right:0;bottom:0;left:0;position:absolute;z-index:10}@-moz-document url-prefix(){.fotorama__active{box-shadow:0 0 0 transparent}}.fotorama__arr,.fotorama__fullscreen-icon,.fotorama__video-close,.fotorama__video-play{position:absolute;z-index:11;cursor:pointer}.fotorama__arr{position:absolute;width:32px;height:32px;top:50%;margin-top:-16px}.fotorama__arr--prev{left:2px;background-position:0 0}.fotorama__arr--next{right:2px;background-position:-32px 0}.fotorama__arr--disabled{pointer-events:none;cursor:default;*display:none;opacity:.1}.fotorama__fullscreen-icon{width:32px;height:32px;top:2px;right:2px;background-position:0 -32px;z-index:20}.fotorama__arr:focus,.fotorama__fullscreen-icon:focus{border-radius:50%}.fotorama--fullscreen .fotorama__fullscreen-icon{background-position:-32px -32px}.fotorama__video-play{width:96px;height:96px;left:50%;top:50%;margin-left:-48px;margin-top:-48px;background-position:0 -64px;opacity:0}.fotorama__wrap--css2 .fotorama__video-play,.fotorama__wrap--video .fotorama__stage .fotorama__video-play{display:none}.fotorama__error .fotorama__video-play,.fotorama__loaded .fotorama__video-play,.fotorama__nav__frame .fotorama__video-play{opacity:1;display:block}.fotorama__nav__frame .fotorama__video-play{width:32px;height:32px;margin-left:-16px;margin-top:-16px;background-position:-64px -32px}.fotorama__video-close{width:32px;height:32px;top:0;right:0;background-position:-64px 0;z-index:20;opacity:0}.fotorama__wrap--css2 .fotorama__video-close{display:none}.fotorama__wrap--css3 .fotorama__video-close{-webkit-transform:translate3d(32px,-32px,0);transform:translate3d(32px,-32px,0)}.fotorama__wrap--video .fotorama__video-close{display:block;opacity:1}.fotorama__wrap--css3.fotorama__wrap--video .fotorama__video-close{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr,.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon{opacity:0}.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr:focus,.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon:focus{opacity:1}.fotorama__wrap--video .fotorama__arr,.fotorama__wrap--video .fotorama__fullscreen-icon{opacity:0!important}.fotorama__wrap--css2.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr,.fotorama__wrap--css2.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon{display:none}.fotorama__wrap--css2.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr:focus,.fotorama__wrap--css2.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon:focus{display:block}.fotorama__wrap--css2.fotorama__wrap--video .fotorama__arr,.fotorama__wrap--css2.fotorama__wrap--video .fotorama__fullscreen-icon{display:none!important}.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon:not(:focus){-webkit-transform:translate3d(32px,-32px,0);transform:translate3d(32px,-32px,0)}.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__arr--prev:not(:focus){-webkit-transform:translate3d(-48px,0,0);transform:translate3d(-48px,0,0)}.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__arr--next:not(:focus){-webkit-transform:translate3d(48px,0,0);transform:translate3d(48px,0,0)}.fotorama__wrap--css3.fotorama__wrap--video .fotorama__fullscreen-icon{-webkit-transform:translate3d(32px,-32px,0)!important;transform:translate3d(32px,-32px,0)!important}.fotorama__wrap--css3.fotorama__wrap--video .fotorama__arr--prev{-webkit-transform:translate3d(-48px,0,0)!important;transform:translate3d(-48px,0,0)!important}.fotorama__wrap--css3.fotorama__wrap--video .fotorama__arr--next{-webkit-transform:translate3d(48px,0,0)!important;transform:translate3d(48px,0,0)!important}.fotorama__wrap--css3 .fotorama__arr:not(:focus),.fotorama__wrap--css3 .fotorama__fullscreen-icon:not(:focus),.fotorama__wrap--css3 .fotorama__video-close:not(:focus),.fotorama__wrap--css3 .fotorama__video-play:not(:focus){transition-property:-webkit-transform,opacity;transition-property:transform,opacity;transition-duration:.3s}.fotorama__nav:after,.fotorama__nav:before,.fotorama__stage:after,.fotorama__stage:before{content:"";display:block;position:absolute;text-decoration:none;top:0;bottom:0;width:10px;height:auto;z-index:10;pointer-events:none;background-repeat:no-repeat;background-size:1px 100%,5px 100%}.fotorama__nav:before,.fotorama__stage:before{background-image:linear-gradient(transparent,rgba(0,0,0,.2) 25%,rgba(0,0,0,.3) 75%,transparent),radial-gradient(farthest-side at 0 50%,rgba(0,0,0,.4),transparent);background-position:0 0,0 0;left:-10px}.fotorama__nav.fotorama__shadows--left:before,.fotorama__stage.fotorama__shadows--left:before{left:0}.fotorama__nav:after,.fotorama__stage:after{background-image:linear-gradient(transparent,rgba(0,0,0,.2) 25%,rgba(0,0,0,.3) 75%,transparent),radial-gradient(farthest-side at 100% 50%,rgba(0,0,0,.4),transparent);background-position:100% 0,100% 0;right:-10px}.fotorama__nav.fotorama__shadows--right:after,.fotorama__stage.fotorama__shadows--right:after{right:0}.fotorama--fullscreen .fotorama__nav:after,.fotorama--fullscreen .fotorama__nav:before,.fotorama--fullscreen .fotorama__stage:after,.fotorama--fullscreen .fotorama__stage:before,.fotorama__wrap--fade .fotorama__stage:after,.fotorama__wrap--fade .fotorama__stage:before,.fotorama__wrap--no-shadows .fotorama__nav:after,.fotorama__wrap--no-shadows .fotorama__nav:before,.fotorama__wrap--no-shadows .fotorama__stage:after,.fotorama__wrap--no-shadows .fotorama__stage:before{display:none}


.iSearchBox {
    background: none repeat scroll 0 0 white;
    box-shadow: 0 1px 2px #ccc;
    display: none;
    margin-top: 1px;
    overflow: inherit !important;
    padding: 10px;
    position: absolute;
    width: 278px !important;
    z-index: 10003;
}
.iSearchBox li, .iSearchBox ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.iSearchBox li {
    border-top: 1px solid #fff;
    cursor: pointer;
    margin-bottom: 10px;
    padding: 0 10px;
}
.iSearchBox li:last-child {
    font-size: 13px;
    margin-bottom: 0;
}
.iSearchBox li:hover h3, .iSearchBox li:hover .iSearchModel, .iSearchBox li:hover .iSearchPrice {
    color: #003264;
}
.iSearchBox li:hover {
    border-top: 1px solid #eee;
    box-shadow: 0 1px 1px #888;
}
.iSearchBox li img {
    float: left;
    padding: 10px 10px 10px 0;
}
.iSearchBox li .iSearchItem {
    min-height: 50px;
}
.iSearchBox li h3 {
    float: left;
    font-size: 12px;
    line-height: 18px;
    margin: 0;
    overflow: hidden;
    padding: 10px 0;
    white-space: normal !important;
    width: 42%;
}
.iSearchBox li .iSearchPrice {
    color: #333;
    display: block;
    float: right;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 0;
}
.iSearchBox li .iSearchPrice .specialPrice {
    color: red;
    text-decoration: line-through;
}
.iSearchBox li .iSearchModel {
    display: none;
}
.iSearchBoxWrapper {
    position: relative;
}

.iSearchBoxWrapper .clearfix:before,
.iSearchBoxWrapper .clearfix:after {
    content:"";
    display:table;
}
.iSearchBoxWrapper .clearfix:after {
    clear:both;
}

.iSearchBoxWrapper .clearfix {
    zoom:1;
}

.modal-dialog{
    z-index: 9999;
}
.produkt-galerey-image{
    height: 325px;
    max-width: 300px;
}
.produkt-galerey-image a, .produkt-galerey-image img{
    display: block;
    width: 100%;
    height: 300px;
}

.bagsetc_net{
    display: block;
    padding-top: 10px;
    cursor: pointer;
}

#home-page-carousel .item img{
    height: 423px;
}

.main-page-header{
    padding:12px 0 4px;
    text-align: center;
}
.seo-text {
  text-align: justify;
  color: #5b5b5b;
}

.seo-show {
    cursor: pointer;
    color: green;
}

.no-result {
    text-align: center;
}

.no-result img {
    width: 100%;
    max-width: 800px;
}