<div class="col-xs-1 text-center">
    <span class="checkbox js-cart-remove font-22" style="cursor:pointer;" title="Удалить из корзины">×</span>
</div>
<div class="col-xs-1 text-center">
    <a class="responsive-img" href="<%= href %>">
        <img class="img-responsive" alt="<%= name %>" src="<%= thumb %>">
    </a>
</div>
<div class="col-xs-4 text-center">
    <a href="<%= href %>"><%= name %></a>
    <% if(_.isArray(option) && option.length > 0){ %>
        <% _.each(option, function(opt, index){ %>
            <div><%= opt.name  %>: <%= opt.value %></div>
        <% }) %>
    <% } %>
</div>
<div class="col-xs-2 cart_count">
    <% if(quantity){ %>
        <div class="counter">
            <button class="add">-</button>
            <input type="text" class="amount" name="quantity" value="<%= quantity %>">
            <button class="delete">+</button>
        </div>
    <% } %>

</div>
<div class="col-xs-2 text-center">
    <span class="font-14"><%= price %></span> <%= currency_symbol_right %>
    <% if(obj.discount_show > 0){ %>
        <div></div>
        <span style="float: none;" class="discount_show_cart">- <%= discount_show %>%</span>
    <% } %>
</div>
<div class="col-xs-2 text-center"><span class="font-18"><%= total %></span> <%= currency_symbol_right %></div>
