
    <div class="modal-content">
        <div class="modal-header">
            <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
            <h4 class="modal-title">Корзина</h4>
        </div>
        <div class="modal-body">
            <div class="row product-section" style="min-height: 200px;">

            </div>
            <% if(isEmpty === false){ %>
                <div class="row">
                    <div class="col-xs-12 text-right">
                        Итого: <span class="js-total-amount font-22"><%= totals %></span>
                    </div>
                </div>
            <% } %>
        </div>
        <div class="modal-footer">
            <span class="btn btn-grey btn-default pull-left" data-dismiss="modal">Продолжить покупки</span>
            <% if(isEmpty === false){ %>
                <span class="btn btn-blue btn-default js-one-click-order">Заказать в один клик</span>
                <span class="btn btn-blue btn-default js-order">Оформить заказ</span>
            <% } %>
        </div>
    </div>