<div class="modal-content">
    <div class="modal-header yellow-bg">
        <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Оформление заказа</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-6 col-xs-6">
                <div class="row form-group">
                    <form role="form">
                        <div class="form-group">
                            <label>Ваше имя:*</label>
                            <input name="name" type="text" value="<%= name %>" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Ваш e-mail:*</label>
                            <input name="email" type="text" value="<%= email %>" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Ваш телефон:*</label>
                            <input name="telephone" type="text" value="<%= telephone %>"  class="form-control">
                        </div>
                    </form>
                </div>

                    <div class="panel panel-default form-section dimensions">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-3">
                                    <img alt="" src="/static/images/delivery-cart-ico.gif">
                                </div>
                                <div class="col-xs-9">
                                    <div class="form-group">
                                        <label>Нужна ли вам доставка?</label>
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <label>
                                                    <input type="radio" value="flat.flat" name="shipping_method">
                                                    Да
                                                </label>
                                            </div>
                                            <div class="col-xs-4">
                                                <label>

                                                    <input type="radio" checked="" name="shipping_method" value="pickup.pickup">
                                                    Нет
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-hidden form-section">
                        <div class="row form-group">
                            <div class="form-group">
                                <label>Укажите адрес доставки:</label>
                                <div>
                                    <input type="text" class="form-control" value="<%= address %>" name="address">
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="form-group">
                                <label>Нужен ли вам занос в квартиру?</label>
                                <div class="row">
                                    <div class="col-xs-4">
                                            <label>
                                                <input type="radio" value="1" name="flat">
                                                Да
                                            </label>
                                    </div>
                                    <div class="col-xs-4">
                                        <label>
                                            <input type="radio" checked value="2" name="flat">
                                            Нет
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-hidden">
                        <div class="row form-group">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <span class="form-label">Укажите этаж</span>
                                        <input type="text" class="form-control" name="level">
                                    </div>
                                    <div class="col-xs-8 col-xs-offset-1">
                                        <span class="form-label">Есть лифт?</span>
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <label>
                                                    <input type="radio" checked="" value="3" name="lift">
                                                    Да
                                                </label>
                                            </div>
                                            <div class="col-xs-4">
                                                <label>
                                                    <input type="radio" value="4" name="lift">
                                                    Нет
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-1">
                                <img alt="" src="/static/images/alert-cart-ico.gif">
                            </div>
                            <div class="col-xs-10 col-xs-offset-1">
                                <strong>Стоимость доставки будет рассчитана согласно весу и габаритам заказанных товаров</strong>
                            </div>
                        </div>
                        </div>
                    </div>
            </div>

            <div class="col-xs-6">
                <div style="padding-left: 15px;">
                    <div class="row form-group">
                        <div class="form-group">
                            <label>Комментарий к заказу:</label>
                            <textarea rows="8" style="height: 182px;" name="comment" class="form-control" ></textarea>
                        </div>
                    </div>
                    <div class="panel panel-default dimensions">
                        <div class="row">
                            <div class="col-xs-3">
                                <img alt="" src="/static/images/payment-cart-ico.gif">
                            </div>
                            <div class="col-xs-9">
                                <div class="form-group">
                                    <label>
                                        <input type="radio" checked="" value="cod" name="payment_method">
                                        Оплата при получении
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label>
                                        <input type="radio" value="card" name="payment_method">
                                        Оплатить картой через терминал в нашем офисе
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label>
                                        <input type="radio" value="clearing" name="payment_method">
                                        Заказать безналичный счет
                                    </label>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <p>В редких случаях взаиморасчет между банками может длиться до 3-х банковских дней, отгрузка товаров осуществляется только после поступления денег на счет компании.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <span class="btn btn-grey btn-default pull-left js-go-to-cart">Вернуться в корзину</span>
        <span class="btn btn-blue btn-default pull-right js-submit">Подтвердить заказ</span>
    </div>

</div>