<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header green-bg">
            <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
            <h4 class="modal-title">Ваш заказ оформлен успешно!</h4>
        </div>
        <div class="modal-body">
            <h3>Заказ успешно оформлен, скоро наши менеджеры свяжутся с вами и уточнят детали.</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-xs-4">
                    <img alt="" src="/static/images/cup.gif">
                </div>
                <div class="col-xs-8">
                    <p>Вы в любой момент можете просмотреть детали вашего заказа в личном кабинете пользователя.</p>
                    <% if(payment === "liqpay"){ %>
                        <p>Если Вы хотите оплатить заказ позже, сделать это можно будет, проследовав по ссылке в высланном на ваш адрес письме.</p>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <% if(payment === "liqpay"){ %>
                <span data-dismiss="modal" class="btn btn-grey btn-default pull-left">Оплатить позже</span>
                <a class="btn btn-blue btn-default" href="/index.php?route=payment/liqpay&order_id=<%= order_id %>" target="_blank">Оплатить сейчас</a>
            <% } else { %>
                <span data-dismiss="modal" class="btn btn-blue btn-default">Закрыть</span>
            <% } %>

        </div>
    </div>
</div>