<div>
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Быстрое оформление заказа</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="forma col-sm-12">
                        <form role="form">
                            <div class="form-group">
                                <label for="email">Ваш e-mail:*</label>
                                <input type="text" name="email" class="form-control" value="<%= email %>">
                            </div>
                            <div class="form-group">
                                <label for="telephone">Контактный телефон:*</label>
                                <input type="text" name="telephone" class="form-control" value="<%= telephone %>">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer text-left">
                <span class="btn btn-grey btn-default pull-left js-go-to-cart">Вернуться в корзину</span>
                <span class="btn btn-blue btn-default js-submit">Подтвердить заказ</span>
            </div>
        </div>
    </div>
</div>