
    <div class="modal-content">
        <div class="modal-header">
            <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
            <h4 class="modal-title">Вы добавили в корзину товар:</h4>
        </div>
        <div class="modal-body">
            <div class="row product-section"></div>
        </div>
        <div class="modal-body">
            <div class="row js-slider-section" style="position:absolute;left:-10000px;">
                <div class="col-xs-12">
                    <div class="bxslider-product-wrapper clearfix">
                        <ul class="bxslider-product">
                            <% _.each(obj.related, function(item){  %>
                                <% if(item !== null){ %>
                                    <li>
                                        <div class="product" style="width: 200px;">
                                            <a href="<%= item.href %>" class="wrap-product">
                                                <img width="130" height="130" title="<%= item.name %>" alt="<%= item.name %>" src="<%= item.thumb %>">
                                                <p><%= item.name %></p>
                                            </a>
                                            <p class="tech"><%= item.model %></p>
                                            <div class="price-group">
                                                <span itemprop="price" class="price"><%= item.price %><i>шт.</i></span>
                                                <meta itemprop="priceCurrency" content="UAH">
                                            </div>
                                            <% if(item.quantity > 0 || item.stock_status != 'Нет в наличии') { %>
                                                <% if(item.product_on_length) { %>
                                                    <button data-id="<%= item.product_id %>" class="btn btn-blue btn-primary js-open-quickView">Купить</button>
                                                <% } else { %>
                                                    <button data-id="<%= item.product_id %>" class="btn btn-blue btn-primary js-quick-buy">Купить</button>
                                                <% } %>
                                            <% } else { %>
                                                <button class="btn btn-default btn-deep-grey js-open-product-waiting"  data-id="<%= item.product_id %>">Сообщить о наличии</button>
                                            <% } %>
                                            <div class="quick-seen"><a data-id="<%= item.product_id %>" class="js-open-quickView">Быстрый просмотр</a></div>
                                        </div>
                                    </li>
                                <% } %>
                            <% }) %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="text-center">
                <span class="btn btn-grey btn-default" data-dismiss="modal">Продолжить покупки</span>
                <a href="cart" class="btn btn-blue btn-default js-go-to-cart-DELETE">Перейти в корзину</a>
            </div>
        </div>
    </div>