<div id="cart">
  <div class="heading">
    <a href="<?php echo $cart; ?>"><span id="cart-total">
	<?php
		$cart_info = explode(' ',$text_items,2);
		echo '('.$cart_info[0].')';
	?>
	</span></a>
	
	</div>
</div>
 