<div class="box">
  <div class="box-heading"><?= $heading_title ?></div>
  <div class="box-content">
    <div class="box-product">
      <?php foreach($products as $product) { ?>
      <?= $product ?>
      <?php } ?>
    </div>
  </div>
</div>