#filterpro .option_box {
    display: block;
	border-top:1px solid #c2c2c2;
    margin: 5px 0;
    padding: 5px;
    vertical-align: top;
}

#filterpro .price_limit {
    border: 0;
    color: #38B0E3;
    font-weight: bold;
    width: 100%;
}

#filterpro .ui-widget-header {
    background: none repeat scroll 0 0 #6a6a6a;
    border: 0 none;
    color: #FFFFFF;
    font-weight: bold;
}

#filterpro select {
    width: 126px;
}

#filterpro .ui-state-hover, #filterpro .ui-state-focus, #filterpro .ui-state-active {
    border:0;
    background: none repeat scroll 0 0 #cbcbcb;
}

#filterpro .price_slider {
    padding: 0 7px 5px 0;
}

#filterpro .price_slider  input {
    color: #6a6a6a;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 12px;
    text-align: center;
    width: 55px;
}
#filterpro .ui-slider .ui-slider-handle{
    height: 16px;
    width: 8px;
    top: -7px;
}
#filterpro .ui-slider-horizontal{
    height: 2px;
}

#filterpro .option_values {
    padding-top: 5px;
}

#filterpro .option_name, #filterpro .attribute_group_name {
    background: url("../image/filter-bullet-down.png") no-repeat scroll right center transparent;
    cursor: pointer;
    padding: 5px;
}
#filterpro .attribute_group_name{
    padding-left: 0;
}

#filterpro .hided {
    background: url("../image/filter-bullet-up.png") no-repeat scroll right center transparent;
    cursor: pointer;
}

#filterpro_box .clear_filter {
    border-bottom: 1px dashed;
    text-decoration: none;
    float: right;
}

#filterpro .collapsible{

}
#filterpro img {
    cursor: pointer;
    margin: 2px
}

#filterpro img.selected {
    border: 2px solid;
    margin: 0;
}
#column-left + #column-right + #content .product-grid > div.loadmask {
    width: 100%;
}

#filterpro input {
    margin: 4px 3px;
}
#filterpro table{
     margin-bottom: 5px;
}

