<?php echo $header; ?><?php echo $column_left; ?>
<div class="main-content">
    <div class="breadcrumb">
        <?php foreach ($breadcrumbs as $breadcrumb) { ?>
        <?php echo $breadcrumb['separator']; ?><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a>
        <?php } ?>
    </div>
    <div class="news-box-title"><?php echo $heading_title; ?></div>

    <div id="content">
        <div id="info-wrapper-news" class="info-wrapper-news">
            <div class="contact-form-section">
                <?php echo $content_top; ?>
                <form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data">
                    <h2><?php echo $store; ?></h2>
                    <h3><?php echo $text_location; ?></h3>
                    <div class="contact-info">
                        <div class="content"><div><b><?php echo $text_address; ?></b><br />
                            <?php echo $address; ?><br/></div>
                            <div class="right">
                                <?php if ($telephone) { ?>
                                <b><?php echo $text_telephone; ?></b><br />
                                <?php echo $telephone; ?><br />
                                <br />
                                <?php } ?>
                                <?php if ($fax) { ?>
                                <b><?php echo $text_fax; ?></b><br />
                                <?php echo $fax; ?>
                                <?php } ?>
                            </div>
                        </div>
                    </div>
                    <h2><?php echo $text_contact; ?></h2>
                    <div class="content">
                        <b><?php echo $entry_name; ?></b><br />
                        <input type="text" name="name" value="<?php echo $name; ?>" />
                        <br />
                        <?php if ($error_name) { ?>
                        <span class="error"><?php echo $error_name; ?></span>
                        <?php } ?>
                        <br />
                        <b><?php echo $entry_email; ?></b><br />
                        <input type="text" name="email" value="<?php echo $email; ?>" />
                        <br />
                        <?php if ($error_email) { ?>
                        <span class="error"><?php echo $error_email; ?></span>
                        <?php } ?>
                        <br />
                        <b><?php echo $entry_enquiry; ?></b><br />
                        <textarea name="enquiry" cols="40" rows="10" style="width: 90%;"><?php echo $enquiry; ?></textarea>
                        <br />
                        <?php if ($error_enquiry) { ?>
                        <span class="error"><?php echo $error_enquiry; ?></span>
                        <?php } ?>
                        <br />
                        <b><?php echo $entry_captcha; ?></b><br />
                        <input type="text" name="captcha" value="<?php echo $captcha; ?>" />
                        <br />
                        <img src="index.php?route=information/contact/captcha" alt="" />
                        <?php if ($error_captcha) { ?>
                        <span class="error"><?php echo $error_captcha; ?></span>
                        <?php } ?>
                    </div>
                    <div class="buttons">
                        <div class="right"><input type="submit" value="<?php echo $button_continue; ?>" class="button" /></div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<?php echo $content_bottom; ?>
<?php echo $footer; ?>