
    <a href="<?php echo $cart; ?>"><i class="fa fa-shopping-bag"></i> Корзина: <span id="cart-total">
	<?php
		$cart_info = explode(' ',$text_items,2);
		echo '('.$cart_info[0].')';
	?>
	</span></a>

 