    <?php foreach ($products as $integration => $product) { ?>
    <?php if ($integration%2==0){echo '<div class="line-produkt-column">'; $sratus_line = false;}else{$sratus_line = true;} ?>
	 <div class="line-produkt">
      <?php if ($product['thumb']) { ?>
      <div class="line-produkt-image"><a href="<?php echo $product['href']; ?>"><img src="<?php echo $product['thumb']; ?>" title="<?php echo $product['name']; ?>" alt="<?php echo $product['name']; ?>" /></a></div>
      <?php } ?>
      <div class="line-produkt-title"><a href="<?php echo $product['href']; ?>"><?php echo $product['name']; ?></a></div>
	    </div>
   <?php if ($sratus_line){echo '</div>';} ?>
    <?php } ?>