<?php if ($modules) { ?>
<div class="sidebar left">
 
<div class="left-wrapper" id="left-wrapper">
  <?php foreach ($modules as $module) { ?>
  <?php echo $module; ?>
  <?php } ?>
</div>
</div>
<?php } ?> 
