<div>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">
                        Восстановить пароль
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-2 col-sm-offset-1">
                        <img alt="" src="/static/images/login-key.gif">
                    </div>
                    <div class="forma col-sm-6">
                        <form role="form">
                            <div class="form-group">
                                <label for="email">Ваш e-mail:</label>
                                <input type="text" name="email" class="form-control">
                            </div>
                            <p>Укажите почту, которую вы использовали при регистрации. Именно на нее мы сможем выслать вам новый пароль.</p>
                        </form>
                    </div>
                    <div class="col-sm-2 col-sm-offset-1">
                        <img alt="" src="/static/images/login-lock.gif" style="margin-top:34px">
                    </div>
                </div>
            </div>
            <div class="modal-footer text-center">
                <span class="btn btn-blue btn-default js-login-submit">
                        Восстановить
                </span>
            </div>
        </div>
    </div>
</div>