<div>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title"><a href="<%= linkToProduct %>"><%= heading_title %></a></h4>
            </div>
            <div class="modal-body">
                <% if(_.isArray(breadcrumbs) && breadcrumbs.length > 0){ %>
                    <ul class="crumbs clearfix" style="padding:0;">
                        <% _.each(breadcrumbs, function(breadcrumb, i){ %>
                            <li>
                                <% if(i + 1 < breadcrumbs.length){ %>
                                    <span><a href="<%= breadcrumb['href'] %>"><%= breadcrumb['text'] %></a></span>&nbsp;&gt;&nbsp;
                                <% } else { %>
                                    <span><%= breadcrumb['text'] %></span>
                                <% } %>
                            </li>
                        <% }) %>
                    </ul>
                <% } %>

                <div class="goods">
                    <div class="row product-details">

                        <div class="col-xs-9 <% if(product_on_length){ %> linoleum <% } %>">
                            <div class="row ">
                                <div class="product-img">
                                    <a title="<%= heading_title %>" href="<%= popup %>">
                                        <img alt="<%= heading_title %>" title="<%= heading_title %>" src="<%= thumb %>"></a>
                                    <div>
                                        <p>*Цвет или оттенок изделия на фотографии может отличаться от реального. Характеристики и комп- лектация товара могут изменятся производителем без уведомления. Магазин не несет ответственности за изменения внесенные производителем</p>
                                    </div>
                                    <% if(product_on_length){ %>
                                        <div class="about-product">
                                            <% if(manufacturer && manufacturerUrl){ %>
                                            <div>
                                                <b>Бренд</b>
                                                <a href="<%= manufacturerUrl %>"><%= manufacturer %></a>
                                            </div>
                                            <% } %>

                                            <% if(length > 0 && width > 0 && height > 0){ %>
                                                <div>
                                                    <b>Размер (Г x Ш x В):</b>
                                                    <span><%= length%> x <%= width%> x <%= height%> <%= length_class_value%></span>
                                                </div>
                                            <% } %>

                                            <div>
                                                <b>Модель</b>
                                                <span><%= model %></span>
                                            </div>
                                            <% if(average > 0){ %>
                                            <div>
                                                <b>Рейтинг</b>
                                                <input type="hidden" class="hidden_rating" value="" name="rating">
                                                <div class="stars-group blue-stars-group">
                                                    <% for(var i = 0; i < average; i++){ %>
                                                    <i></i>
                                                    <% } %>
                                                </div>
                                            </div>
                                            <% } %>
                                        </div>
                                    <% } %>
                                </div>
                                <div class="options">
                                    <div class="price-group">
                                        <span class="price">
                                            <i>цена</i>
                                            <% if(!special){ %>
                                                <%= price %>
                                            <% } else { %>
                                                <u><%= price %></u><%= special %>
                                            <% } %>
                                            <% if(!product_on_length){ %>
                                                <i>шт.</i>
                                            <% } else { %>
                                                <i>м2</i>
                                            <% } %>
                                        </span>
                                    </div>
                                    <div class="on-hand">
                                        <p><span><%= stock %></span></p>
                                    </div>
                                    <% if(product_on_length){ %>
                                        <div class="dimensions">
                                            <div>
                                                <div class="help"><p>Укажите необходимые<br>размеры отрезка: </p></div>
                                                <div class="select">
                                                    <% _.each(options, function(option){ %>
                                                        <em><%= option.name %></em>
                                                        <select name="option[<%= option.product_option_id %>]" class="default chosen itemLength" data-placeholder="Ширина рулона">
                                                            <% _.each(option.option_value, function(value){ %>
                                                                <option value="<%= value.product_option_value_id  %>"><%= value.name  %></option>
                                                            <% }) %>
                                                        </select>
                                                    <% }) %>
                                                    <div>
                                                        <em>Длина отрезка, м</em>
                                                        <input type="text" placeholder="10" name="product_on_length">
                                                    </div>
                                                </div>
                                                <div class="result">
                                                    <p>Итоговая площадь отрезка</p>
                                                    <span><b class="total-square"></b>  м2</span>
                                                    <p>Итоговая цена отрезка</p>
                                                    <span><b class="total-price"></b>  грн.</span>
                                                </div>
                                            </div>
                                            <% if(stock === "Нет в наличии"){ %>
                                            <div data-id="<%= product_id %>" class="btn btn-default btn-deep-grey js-open-product-waiting">Сообщить о наличии</div>
                                            <% } else { %>
                                            <div data-id="<%= product_id %>" class="btn btn-blue js-addToCart">Купить</div>
                                            <% } %>
                                        </div>
                                    <% } %>
                                    <% if(!product_on_length){ %>
                                        <div class="how-much">
                                            <div>
                                                <span>Количество</span>
                                                <div class="counter">
                                                    <button class="add"></button>
                                                    <input type="text" class="amount" value="1" name="quantity">
                                                    <button class="delete"></button>
                                                </div>
                                                <span>шт</span>
                                            </div>
                                            <% if(stock === "Нет в наличии"){ %>
                                            <div data-id="<%= product_id %>" class="btn btn-default btn-deep-grey js-open-product-waiting">Сообщить о наличии</div>
                                            <% } else { %>
                                            <div data-id="<%= product_id %>" class="btn btn-blue js-addToCart">Купить</div>
                                            <% } %>

                                        </div>

                                        <div class="about-product">
                                            <% if(manufacturer && manufacturerUrl){ %>
                                            <div>
                                                <b>Бренд</b>
                                                <a href="<%= manufacturerUrl %>"><%= manufacturer %></a>
                                            </div>
                                            <% } %>
                                            <% if(length > 0 && width > 0 && height > 0){ %>
                                                <div>
                                                    <b>Размер (Г x Ш x В):</b>
                                                    <span><%= length%> x <%= width%> x <%= height%> <%= length_class_value%></span>
                                                </div>
                                            <% } %>
                                            <div>
                                                <b>Модель</b>
                                                <span><%= model %></span>
                                            </div>
                                            <% if(average > 0){ %>
                                            <div>
                                                <b>Рейтинг</b>
                                                <input type="hidden" class="hidden_rating" value="" name="rating">
                                                <div class="stars-group blue-stars-group">
                                                    <% for(var i = 0; i < average; i++){ %>
                                                        <i></i>
                                                    <% } %>
                                                </div>
                                            </div>
                                            <% } %>
                                        </div>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3 benefits-akardion">
                            <div class="panel-group accordion" id="accordion-2" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOne-2">
                                        <h4 class="panel-title delivery">
                                            <a data-toggle="collapse" data-parent="#accordion-2" href="#collapseOne-2" aria-expanded="true" aria-controls="collapseOne-2">
                                                Доставка
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne-2" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne-2">
                                        <div class="panel-body">
                                            <p>
                                                По Днепропетровску:
                                            </p>
                                            <p>
                                                По городу - 70 грн.<br>
                                                За город - 4 грн/км.
                                            <p>
                                                Самовывоз с нашего склада - бесплатно + бесплатная погрузка в Ваш автомобиль.
                                            </p>
                                            <p>
                                                По Украине:
                                            </p>
                                            <p>
                                                по тарифам компании “Новая почта”<br>
                                                по тарифам компании «Деливери»
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingTwo-2">
                                        <h4 class="panel-title payment">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion-2" href="#collapseTwo-2" aria-expanded="false" aria-controls="collapseTwo-2">
                                                Оплата
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwo-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo-2">
                                        <div class="panel-body">
                                            <p>
                                                Вы можете рассчитаться при получении товара.
                                            </p>
                                            <p>
                                                Можете оплатить карточкой VISA или  MASTER CARD у нас в офисе.
                                            </p>
                                            <p>
                                                Вы можете заказать счет для безналичной формы оплаты.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingThree-2">
                                        <h4 class="panel-title safeguards">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion-2" href="#collapseThree-2" aria-expanded="false" aria-controls="collapseThree-2">
                                                Гарантии
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseThree-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree-2">
                                        <div class="panel-body">
                                            <p>
                                                Вы можете вернуть товар в течение 14 дней, с момента покупки.
                                            </p>
                                            <p>
                                                Вы получаете качественный товар, который проверяется начальником склада или его помощниками при отгрузке его Вам.
                                            </p>
                                            <p>
                                                Вы получите свой заказ в оговоренный срок поставки.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
          </div>
                    </div>
                </div>

                <% if (shortDescription) { %>
                        <div>
                            <%= shortDescription %>
                            <% if (readMore) { %>
                                <a href="<%= linkToProduct %>">смотреть полное описание</a>
                            <% } %>
                        </div>
                <% } %>

                <% if(obj.parametrs && obj.parametrs.length > 0) { %>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Технические характеристики</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <% _.each(parametrs, function(parametr){ %>
                        <tr>
                            <td>
                                <%= parametr['name']%>
                            </td>
                            <td>
                                <%= parametr['value']%> <%= parametr['unit']%>
                            </td>
                        </tr>
                        <% }) %>
                        </tbody>
                    </table>
                <% } %>
            </div>
            <div class="modal-footer">
                <span class="btn btn-grey btn-default pull-left" data-dismiss="modal">Закрыть</span>
                <a class="btn btn-blue btn-default" href="<%= linkToProduct %>">К товару</a>
            </div>
        </div>
    </div>
</div>