<% if(discount_show){ %>
    <span class="discount_show">-<%= discount_show %>%</span>
<% } %>
    <div class="image">
        <a href="<%= href %>">
            <img alt="<%= name %>" title="<%= name %>" src="<%= thumb %>">
        </a>
    </div>
    <div class="name">
        <a href="<%= href %>"><%= name %></a>
    </div>
    <div class="price">
        <% if(special === false){ %>
            <span><%= price %></span>
        <% } else { %>
            <span class="price-old"><%= price %></span> <span class="price-new"><%= special %></span>
        <% } %>
    </div>
    <% if(markup){ %>
        <div class="markup">Рекомендуемая надбавка: <span class="label label-warning"><%= markup %>%</span></div>
    <% } %>
    <button data-id="<%= product_id %>" class="btn add-cart-produkt js-quick-buy"><%= button_cart_add %></button>
